HIECDS/Workflows/Account-Flow-CreateSite-51CFB63D-AD62-EA11-A811-000D3A0BAD17.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_record_is_created,_updated_or_deleted":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":4,"subscriptionRequest/entityname":"account","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"leidos_createdocumentstore","subscriptionRequest/filterexpression":"leidos_createdocumentstore eq true"},"authentication":"@parameters('$authentication')"}}},"actions":{"List_the_Default_SP_sites_to_get_the_Base_URL":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"sharepointsites","fetchXml":"<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n  <entity name=\"sharepointsite\">\n    <attribute name=\"name\" />\n    <attribute name=\"parentsite\" />\n    <attribute name=\"relativeurl\" />\n    <attribute name=\"absoluteurl\" />\n    <attribute name=\"validationstatus\" />\n    <attribute name=\"isdefault\" />\n    <order attribute=\"name\" descending=\"false\" />\n    <filter type=\"and\">\n      <condition attribute=\"isdefault\" operator=\"eq\" value=\"1\" />\n    </filter>\n  </entity>\n</fetch>","$top":1},"authentication":"@parameters('$authentication')"}},"AbsoluteURL":{"runAfter":{"List_the_Default_SP_sites_to_get_the_Base_URL":["Succeeded"]},"type":"Compose","inputs":"@first(outputs('List_the_Default_SP_sites_to_get_the_Base_URL')?['body/value'])?['absoluteurl']"},"SitePath":{"runAfter":{"AbsoluteURL":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"30095a04-574e-ea11-a812-000d3a7f1bbb"},"body":{"EnvironmentVariable_Inputs":"SharePoint_DocSitePath"}}},"Build_SharePoint_Site_Path":{"runAfter":{"Parse_SitePath":["Succeeded"]},"type":"Compose","inputs":"@concat(outputs('AbsoluteURL'),body('Parse_SitePath')?['value'])"},"Parse_SitePath":{"runAfter":{"SitePath":["Succeeded"]},"type":"ParseJson","inputs":{"content":"@outputs('SitePath')?['Body']?['value']","schema":{"type":"object","properties":{"@@odata.type":{"type":"string"},"@@odata.id":{"type":"string"},"@@odata.etag":{"type":"string"},"@@odata.editLink":{"type":"string"},"value":{"type":"string"},"environmentvariablevalueid@odata.type":{"type":"string"},"environmentvariablevalueid":{"type":"string"}}}}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}