HIECDS/Workflows/Account-Flow-TriggeronUpdateofRecommendforAMR-BD8ED7BB-3344-EA11-A812-000D3A0BAD17.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Account_Trigger_on_Update_of_Recommend_for_AMR":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":3,"subscriptionRequest/entityname":"account","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"leidos_recommendedforaccountmanagement","subscriptionRequest/filterexpression":"leidos_recommendedforaccountmanagement eq true"},"authentication":"@parameters('$authentication')"}}},"actions":{"Find_the_BPF_For_this_Account":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_bpfaccountprocesses","$filter":"bpf_accountid/accountid eq '@{triggerOutputs()?['body/accountid']}' and bpf_accountid/accountid ne null","$top":1},"authentication":"@parameters('$authentication')"}},"Apply_to_each":{"foreach":"@outputs('Find_the_BPF_For_this_Account')?['body/value']","actions":{"Get_a_BPF":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_bpfaccountprocesses","recordId":"@items('Apply_to_each')?['businessprocessflowinstanceid']"},"authentication":"@parameters('$authentication')"}},"Set_BPF_To_Active":{"runAfter":{"Get_a_BPF":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_bpfaccountprocesses","recordId":"@outputs('Get_a_BPF')?['body/businessprocessflowinstanceid']","item/statecode":0},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Find_the_BPF_For_this_Account":["Succeeded"]},"type":"Foreach"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}