HIECDS/Workflows/AccountManagementClientSummaryonCreate-SetNameandP-932E0904-825F-EA11-A811-000D3A0BAD17.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"AM_Client_Action__Plan_on_Create":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":4,"subscriptionRequest/entityname":"leidos_clientactionplan","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"leidos_parentreviewtheme"},"authentication":"@parameters('$authentication')"}}},"actions":{"Get_Account_Management_Client_Plan_Record":{"runAfter":{"Get_Category_":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_accountmanagementclientplans","recordId":"@triggerOutputs()?['body/_leidos_parentclientplan_value']"},"authentication":"@parameters('$authentication')"}},"Get_Account_Record":{"runAfter":{"Get_Account_Management_Client_Plan_Record":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","recordId":"@outputs('Get_Account_Management_Client_Plan_Record')?['body/_leidos_relatedaccount_value']"},"authentication":"@parameters('$authentication')"}},"Create_Name":{"runAfter":{"Format_Date_Value":["Succeeded"]},"type":"Compose","inputs":"@concat(outputs('Get_Account_Record')?['body/name'],' - ' , outputs('Get_Category_')?['body/leidos_category'],' - ', outputs('Format_Date_Value'))"},"_Get_Parent_Review_Theme":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_clientplansummaries","recordId":"@triggerOutputs()?['body/_leidos_parentreviewtheme_value']"},"authentication":"@parameters('$authentication')"}},"Get_Category_":{"runAfter":{"_Get_Parent_Review_Theme":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_clientplanquestioncategories","recordId":"@outputs('_Get_Parent_Review_Theme')?['body/_leidos_category_value']"},"authentication":"@parameters('$authentication')"}},"Format_Date_Value":{"runAfter":{"Get_Account_Record":["Succeeded"]},"type":"Compose","inputs":"@formatDateTime(utcNow(),'ddMMMyyyy')"},"Update_a_record":{"runAfter":{"Create_Name":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_clientactionplans","recordId":"@triggerOutputs()?['body/leidos_clientactionplanid']","item/leidos_name":"@outputs('Create_Name')"},"authentication":"@parameters('$authentication')"}},"If_Parent_Account_is_Blank_Populate_from_Relationships":{"actions":{"Update_with_Account":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_clientactionplans","recordId":"@triggerOutputs()?['body/leidos_clientactionplanid']","item/leidos_ParentAccount@odata.bind":"/accounts(@{outputs('Get_Account_Record')?['body/accountid']})"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Get_Account_Record":["Succeeded"]},"expression":{"equals":["@triggerOutputs()?['body/_leidos_parentaccount_value']","@null"]},"type":"If"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}