HIECDS/Workflows/AccontManagementClientPlan-Flow-SubmitforApproval-A4328629-C85E-EA11-A811-000D3A0BAD17.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}},"shared_approvals":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_approvals"}},"shared_sendmail":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_sendmail"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"AM_Client_Plan_Submitted":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":3,"subscriptionRequest/entityname":"leidos_accountmanagementclientplan","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"leidos_submitclientplanforapproval","subscriptionRequest/filterexpression":"leidos_submitclientplanforapproval eq true"},"authentication":"@parameters('$authentication')"}}},"actions":{"Update_Submitted_On":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_accountmanagementclientplans","recordId":"@triggerOutputs()?['body/leidos_accountmanagementclientplanid']","item/leidos_submittedon":"@utcNow()"},"authentication":"@parameters('$authentication')"}},"AMR_Record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_accountmanagementrecords","recordId":"@triggerOutputs()?['body/_leidos_accountmanagementrecord_value']"},"authentication":"@parameters('$authentication')"}},"Area_Office":{"runAfter":{"AMR_Record":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_areaoffices","recordId":"@outputs('AMR_Record')?['body/_leidos_areaoffice_value']"},"authentication":"@parameters('$authentication')"}},"Office_Manager":{"runAfter":{"Area_Office":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@outputs('Area_Office')?['body/_leidos_officemanager_value']"},"authentication":"@parameters('$authentication')"}},"Get_Entity_URL":{"runAfter":{"Office_Manager":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"b0db1a8a-c449-ea11-a812-000d3a0ba151"},"body":{"EntityId_Inputs":"@triggerOutputs()?['body/leidos_accountmanagementclientplanid']","EntityType_Value":"leidos_accountmanagementclientplan"}}},"Start_and_wait_for_an_approval":{"runAfter":{"Get_Entity_URL":["Succeeded"]},"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_approvals","operationId":"StartAndWaitForAnApproval","apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals"},"parameters":{"approvalType":"CustomResponse","WebhookApprovalCreationInput/responseOptions":["Approve","Reject","Defer"],"WebhookApprovalCreationInput/title":"Account Management Client Plan for @{triggerOutputs()?['body/leidos_name']}","WebhookApprovalCreationInput/assignedTo":"@outputs('Office_Manager')?['body/internalemailaddress']","WebhookApprovalCreationInput/itemLink":"@outputs('Get_Entity_URL')?['Body']?['entityurl']","WebhookApprovalCreationInput/itemLinkDescription":"@triggerOutputs()?['body/leidos_name']","WebhookApprovalCreationInput/enableNotifications":true,"WebhookApprovalCreationInput/enableReassignment":true},"authentication":"@parameters('$authentication')"}},"Switch":{"runAfter":{"Start_and_wait_for_an_approval":["Succeeded"]},"cases":{"Approve":{"case":"Approve","actions":{"AM_Client_to_Approved":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_accountmanagementclientplans","recordId":"@triggerOutputs()?['body/leidos_accountmanagementclientplanid']","item/leidos_ClientPlanApprovedBy@odata.bind":"/systemusers(@{outputs('Office_Manager')?['body/systemuserid']})","item/leidos_clientplanapprovedon":"@utcNow()","item/statecode":1,"item/statuscode":2},"authentication":"@parameters('$authentication')"}},"Update_a_record":{"runAfter":{"AM_Client_to_Approved":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_accountmanagementrecords","recordId":"@outputs('AMR_Record')?['body/leidos_accountmanagementrecordid']","item/leidos_LastApprovedClientPlan@odata.bind":"/leidos_lastapprovedclientplans(@{outputs('AM_Client_to_Approved')?['body/leidos_accountmanagementclientplanid']})"},"authentication":"@parameters('$authentication')"}}}},"Reject":{"case":"Reject","actions":{"AM_Client_to_Rejected":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_accountmanagementclientplans","recordId":"@triggerOutputs()?['body/leidos_accountmanagementclientplanid']","item/statecode":1,"item/statuscode":445260003},"authentication":"@parameters('$authentication')"}}}}},"default":{"actions":{}},"expression":"@outputs('Start_and_wait_for_an_approval')?['body/outcome']","type":"Switch"},"AM_Client_Plan_Owner":{"runAfter":{"Switch":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@triggerOutputs()?['body/_ownerid_value']"},"authentication":"@parameters('$authentication')"}},"Send_an_email_notification_(V3)":{"runAfter":{"AM_Client_Plan_Owner":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sendmail","operationId":"SendEmailV3","apiId":"/providers/Microsoft.PowerApps/apis/shared_sendmail"},"parameters":{"request/to":"@{outputs('AM_Client_Plan_Owner')?['body/internalemailaddress']};","request/subject":"Account Manaement Client Plan for  @{triggerOutputs()?['body/leidos_name']}has been @{outputs('Start_and_wait_for_an_approval')?['body/outcome']}","request/text":"<p>@{outputs('Start_and_wait_for_an_approval')?['body/responseSummary']}<br>\n<br>\n@{triggerOutputs()?['body/leidos_name']}@{outputs('Get_Entity_URL')?['Body']?['entityurl']}</p>"},"authentication":"@parameters('$authentication')"}},"Apply_to_each_2":{"foreach":"@outputs('Start_and_wait_for_an_approval')?['body/responses']","actions":{"Create_a_Note_for_Output":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"annotations","item/subject":"Account Management Client Plan Approval response","item/notetext":"Response Summary:   @{outputs('Start_and_wait_for_an_approval')?['body/responseSummary']}\n\nComments: @{items('Apply_to_each_2')?['comments']}\n","item/objectid_leidos_accountmanagementclientplan@odata.bind":"/leidos_accountmanagementclientplans(@{triggerOutputs()?['body/leidos_accountmanagementclientplanid']})"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Switch":["Succeeded"]},"type":"Foreach"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}