HIECDS/Workflows/AccountManagementClientPlan-Flow-OnCreateSetName-34AF3E8C-9E5F-EA11-A811-000D3A0BAD17.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Account_Management_Client_Plans_-_On_Create":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":4,"subscriptionRequest/entityname":"leidos_accountmanagementclientplan","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"leidos_accountmanagementrecord"},"authentication":"@parameters('$authentication')"}}},"actions":{"If_name_is_Null_and_the_AMR_is_present_Set_the_Name":{"actions":{"Account_Management_Record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_accountmanagementrecords","recordId":"@triggerOutputs()?['body/_leidos_accountmanagementrecord_value']"},"authentication":"@parameters('$authentication')"}},"Update_AM_Client_Plan_Name_to_match_AMR":{"runAfter":{"Account_Management_Record":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_accountmanagementclientplans","recordId":"@triggerOutputs()?['body/leidos_accountmanagementclientplanid']","item/leidos_name":"@outputs('Account_Management_Record')?['body/leidos_name']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"expression":{"and":[{"equals":["@triggerOutputs()?['body/leidos_name']","@null"]},{"not":{"equals":["@triggerOutputs()?['body/_leidos_relatedaccount_value']","@null"]}}]},"type":"If"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}