HIECDS/Workflows/Account-Flow-OnAssignAlertOwner-D1F6BA55-913E-EA11-A812-000D3A0BAD17.json
{"properties":{"connectionReferences":{"shared_commondataservice":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataservice"}},"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}},"shared_commondataserviceforapps_1":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Account_-_On_Assign":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":3,"subscriptionRequest/entityname":"account","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"ownerid"},"authentication":"@parameters('$authentication')"}}},"actions":{"Email_Address_Sring":{"runAfter":{"Get_Account":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Email Addresses","type":"String","value":"@{null}"}]}},"Owner_Type":{"runAfter":{"Email_Address_Sring":["Succeeded"]},"type":"Compose","inputs":"@outputs('Get_Account')?['body/_ownerid_value@Microsoft.Dynamics.CRM.lookuplogicalname']"},"Condition":{"actions":{"Get_Team":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice","operationId":"GetItem_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"default.cds","table":"teams","id":"@outputs('Get_Account')?['body/_ownerid_value']"},"authentication":"@parameters('$authentication')"}},"Check_for_Primary_Contact":{"actions":{"Parse_JSON":{"runAfter":{"List_Team_Memebers":["Succeeded"]},"type":"ParseJson","inputs":{"content":"@outputs('List_Team_Memebers')?['body/value']","schema":{"type":"array","items":{"type":"object","properties":{"@@odata.id":{"type":"string"},"@@odata.etag":{"type":"string"},"ItemInternalId":{"type":"string"},"systemuserid":{"type":"string"},"versionnumber":{"type":"integer"},"teammembershipid":{"type":"string"},"teamid":{"type":"string"}},"required":["@@odata.id","@@odata.etag","ItemInternalId","systemuserid","versionnumber","teammembershipid","teamid"]}}}},"Apply_to_each":{"foreach":"@body('Parse_JSON')","actions":{"Get_User_Record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice","operationId":"GetItem_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"default.cds","table":"systemusers","id":"@items('Apply_to_each')['systemuserid']"},"authentication":"@parameters('$authentication')"}},"Append_to_string_variable":{"runAfter":{"Get_User_Record":["Succeeded"]},"type":"AppendToStringVariable","inputs":{"name":"Email Addresses","value":"@{outputs('Get_User_Record')?['body/internalemailaddress']};"}}},"runAfter":{"Parse_JSON":["Succeeded"]},"type":"Foreach"},"Email_Address_String":{"runAfter":{"Apply_to_each":["Succeeded"]},"type":"Compose","inputs":"@variables('Email Addresses')"},"List_Team_Memebers":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"teammemberships"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Get_the_Team_Record":["Succeeded"]},"else":{"actions":{"Primary_Contact_Email_Address":{"runAfter":{"Get_Primary_User":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Email Addresses","value":"@outputs('Get_Primary_User')?['body/internalemailaddress']"}},"Get_Primary_User":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@outputs('Get_the_Team_Record')?['body/_leidos_teamprimarycontact_value']"},"authentication":"@parameters('$authentication')"}}}},"expression":{"equals":["@outputs('Get_the_Team_Record')?['body/_leidos_teamprimarycontact_value']","@null"]},"type":"If"},"Get_the_Team_Record":{"runAfter":{"Get_Team":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"teams","recordId":"@outputs('Get_Account')?['body/_ownerid_value']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Owner_Type":["Succeeded"]},"else":{"actions":{"Single_Owner_Email_Address":{"runAfter":{"Get_Owner_USers_Record":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Email Addresses","value":"@outputs('Get_Owner_USers_Record')?['body/internalemailaddress']"}},"Get_Owner_USers_Record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@outputs('Get_Account')?['body/_ownerid_value']"},"authentication":"@parameters('$authentication')"}}}},"expression":{"equals":["@outputs('Owner_Type')","teams"]},"type":"If"},"Email_Team_Member_to_alert_them_of_new_Enquiry":{"runAfter":{"Condition":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice","operationId":"PostItem_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"default.cds","table":"emails","item/deliveryreceiptrequested":false,"item/description":"The following account has been assign to @{if(equals(outputs('Owner_Type'), 'teams'), outputs('Get_Team')?['body/name'], 'You')} <br>\n<br>\nAccount Name: <br>\nAccount Reference: <br>\nAccount Location: <br>","item/directioncode":true,"item/followemailuserpreference":false,"item/isbilled":false,"item/isworkflowcreated":false,"item/readreceiptrequested":false,"item/subject":" reference  nas been assigned to @{if(equals(outputs('Owner_Type'), 'teams'), outputs('Get_Team')?['body/name'], 'You')}\n,    ","item/torecipients":"@variables('Email Addresses')","item/_ownerid_type":"","item/_regardingobjectid_type":"accounts"},"authentication":"@parameters('$authentication')"}},"Get_Account":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","recordId":"@triggerOutputs()?['body/accountid']"},"authentication":"@parameters('$authentication')"}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}