HIECDS/Workflows/AMisApproved-SendanemailnotificationV3AMLogoLogoFo-00AFF4E8-514E-EA11-A812-000D3A0BAD17.json
{"properties":{"connectionReferences":{"shared_sendmail":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_sendmail"}},"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"AM_is_Approved":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":3,"subscriptionRequest/entityname":"leidos_accountmanagementrecord","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"statuscode","subscriptionRequest/filterexpression":"statuscode eq 445260000"},"authentication":"@parameters('$authentication')"}}},"actions":{"Send_an_email_notification_(V3)":{"runAfter":{"Footer":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sendmail","operationId":"SendEmailV3","apiId":"/providers/Microsoft.PowerApps/apis/shared_sendmail"},"parameters":{"request/to":"@{outputs('Contact')?['body/emailaddress1']};","request/subject":"Welcome to HIE Account Management & Terms of Engagement","request/text":"<p>@{outputs('Logo')}<br>\n<br>\n@{outputs('AM_Logo')}<br>\n<br>\n<br>\nDear @{outputs('Contact')?['body/firstname']},<br>\n<br>\nHIE are pleased to formally confirm your appointed account manager to support you in furthering the aspirations of your organisation.<br>\n<br>\nI can confirm your account manager and contact details are as follows:<br>\n<br>\n<strong>Account Manage</strong>r name @{outputs('Account_Owner')?['body/fullname']}<br>\n<strong>Contact email: </strong><strong>@{outputs('Account_Owner')?['body/internalemailaddress']}</strong><strong></strong><br>\n<strong>Contact number: </strong><strong>@{outputs('Account_Owner')?['body/address1_telephone1']}</strong><strong></strong><br>\n<br>\nAs an account managed client, for the terms of this engagement please visit HIE’s privacy statement on our website.<br>\n<br>\nIf you have any queries, please get in touch with us at: dataprotectionofficer@hient.co.uk.<br>\n<br>\nWe have just launched our new and improved website. We would encourage you to sign up for a My HIE account where you can save content like news, reports, products and events to an online profile; update your contact details and view tailored content based on your interests and preferences.<br>\n<br>\nYour account manager will be in touch with you in due course, in the meantime if you have any questions don’t hesitate to get in touch.<br>\n<br>\nKind regards<br>\n<br>\n@{outputs('Account_Owner')?['body/fullname']}<br>\n<br>\n<br>\n@{outputs('Footer')}</p>"},"authentication":"@parameters('$authentication')"}},"AM_Logo":{"runAfter":{"Account_Owner":["Succeeded"]},"type":"Compose","inputs":"<img src=\"https://soya8g.dm.files.1drv.com/y4mFQ4dqZqiJQFT1dK8UBA0mnhvl9ZIrQDh_8R18Htt6igMV6onoUn89vXfm3KTnOEq2DEb-1RGK_2cpmHp0wWioIBkGMGbBv9MPsDN_4Zeh69fcxUmZ0TwI5i_9vXHGKh86q4g58EuxT5cJGrzcd6cTm3QI9lqzmxjMRz8aCqFH1TkOHHW8uirC5XR7C6sZ88csaA5j-DpcvggozuOGETgbA?width=337&height=77&cropmode=none\" width=\"337\" height=\"77\" />"},"Logo":{"runAfter":{"AM_Logo":["Succeeded"]},"type":"Compose","inputs":"<img src=\"https://fj2xra.dm.files.1drv.com/y4mWIMmFKCzoUXj4jwnZQCGBCUkbc9qFa7KSaubPZzzMnN4Zvv57CGC9UtUnjgoTpURtjoxs9I7HYO8Q5QWrWKppf3Xbouam2uytdlErBq3YzyxX9YcZaS-RdK0M2zpYSrCR8IO7IR5bWzXPYJ4gPc_Bn2GJVNpDHz1TRvlpetflbYgScS5NVIVoH2SSkTRdt1fKcPp-UwrXKtvRJtLcxU8tw?width=167&height=73&cropmode=none\" width=\"167\" height=\"73\" align=\"right\" />"},"Footer":{"runAfter":{"Logo":["Succeeded"]},"type":"Compose","inputs":"<img src=\"https://tfunla.dm.files.1drv.com/y4mWDYs-8Zq_AcXWaEHnMp7vhFrchz2KG77qpnVkTMg9eCBKA6UZ0AvwazBkGQXn-ITSm1dStP6BuRIlBatTbXFTHsK479mf9ZLi7R0ZcC6_e-W4cEpRHwR0kNTKJDQnmTgpa8SeIkahmQ5EIOfjDXduy039URM4PuSz_pX9v1yQLOj6razOe2KVhTOiOFI5KHbbqGTN-csb8nyU2rZl4n7sA?width=1013&height=276&cropmode=none\" width=\"1013\" height=\"276\" />"},"Account":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","recordId":"@triggerOutputs()?['body/_leidos_parentaccount_value']"},"authentication":"@parameters('$authentication')"}},"Contact":{"runAfter":{"Account":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"contacts","recordId":"@outputs('Account')?['body/_primarycontactid_value']"},"authentication":"@parameters('$authentication')"}},"Account_Owner":{"runAfter":{"Contact":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@outputs('Account')?['body/_ownerid_value']"},"authentication":"@parameters('$authentication')"}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}