HIECDS/Workflows/AMR-Flow-OnChangeofStatusReasonSendEngage-Disengag-00AFF4E8-514E-EA11-A812-000D3A0BAD17.json
{"properties":{"connectionReferences":{"shared_sendmail":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_sendmail"}},"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"AMR_On_Change_of_Status_Reason":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":3,"subscriptionRequest/entityname":"leidos_accountmanagementrecord","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"statuscode","subscriptionRequest/filterexpression":"statuscode eq 445260000 or statuscode eq 2"},"authentication":"@parameters('$authentication')"}}},"actions":{"Switch":{"runAfter":{"Condition":["Succeeded"]},"cases":{"Approved":{"case":445260000,"actions":{"Send_an_email_notification_to_Client":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sendmail","operationId":"SendEmailV3","apiId":"/providers/Microsoft.PowerApps/apis/shared_sendmail"},"parameters":{"request/to":"@{outputs('Contact')?['body/emailaddress1']};","request/subject":"Welcome to HIE Account Management & Terms of Engagement","request/text":"<p>@{outputs('Logo')}<br>\n<br>\n@{outputs('AM_Logo')}<br>\n<br>\n<br>\nDear @{outputs('Contact')?['body/firstname']},<br>\n<br>\nHIE are pleased to formally confirm your appointed account manager to support you in furthering the aspirations of your organisation.<br>\n<br>\nI can confirm your account manager and contact details are as follows:<br>\n<br>\n<strong>Account Manage</strong>r name @{outputs('Account_Owner')?['body/fullname']}<br>\n<strong>Contact email: </strong><strong>@{outputs('Account_Owner')?['body/internalemailaddress']}</strong><strong></strong><br>\n<strong>Contact number: </strong><strong>@{outputs('Account_Owner')?['body/address1_telephone1']}</strong><strong></strong><br>\n<br>\nAs an account managed client, for the terms of this engagement please visit HIE’s privacy statement on our website.<br>\n<br>\nIf you have any queries, please get in touch with us at: dataprotectionofficer@hient.co.uk.<br>\n<br>\nWe have just launched our new and improved website. We would encourage you to sign up for a My HIE account where you can save content like news, reports, products and events to an online profile; update your contact details and view tailored content based on your interests and preferences.<br>\n<br>\nYour account manager will be in touch with you in due course, in the meantime if you have any questions don’t hesitate to get in touch.<br>\n<br>\nKind regards<br>\n<br>\n@{variables('Account Owner')}<br>\n<br>\n<br>\n@{outputs('Footer')}</p>"},"authentication":"@parameters('$authentication')"}},"Send_an_email_notification_to_record_owner":{"runAfter":{"Send_an_email_notification_to_Client":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sendmail","operationId":"SendEmailV3","apiId":"/providers/Microsoft.PowerApps/apis/shared_sendmail"},"parameters":{"request/to":"@{outputs('Account_Owner')?['body/internalemailaddress']};","request/subject":"@triggerOutputs()?['body/leidos_name']","request/text":"<p>The Account Management &nbsp;for @{outputs('Account')?['body/name']} has been approved<br>\n<br>\n@{outputs('Run_a_Child_Flow')?['Body']?['entityurl']}</p>"},"authentication":"@parameters('$authentication')"}}}},"Completed":{"case":2,"actions":{"Send_Automatic_Email":{"actions":{"Check_if_a_Partner_has_been_Signposted_and_use_template_accordingly_2":{"actions":{"Send_an_email_notification_To_Client_No_Partner":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sendmail","operationId":"SendEmailV3","apiId":"/providers/Microsoft.PowerApps/apis/shared_sendmail"},"parameters":{"request/to":"@{outputs('Contact')?['body/emailaddress1']};","request/subject":"HIE Account Management Disengagment","request/text":"<p>@{outputs('AM_Logo')}<br>\n@{outputs('Logo')}<br>\n<br>\nDear @{outputs('Contact')?['body/firstname']},<br>\n<br>\nAs detailed in our terms of engagement letter we will from time to time review our relationship with account managed client. As discussed at our meeting on @{triggerOutputs()?['body/leidos_dateofexitinterview']} you will no longer be formally account managed by HIE at this time.<br>\n<br>\nYour organisation will no longer appear on the monthly published account management list.<br>\n<br>\nI would like to take this opportunity to thank you for your ongoing contribution to the region’s economy, and wish you and your organisation every success in the future.<br>\n<br>\nKind regards<br>\n<br>\n@{variables('Account Owner')}<br>\n<br>\n<br>\n@{outputs('Footer')}</p>"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"else":{"actions":{"Get_SEP_Partner_Account_Record_2":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","recordId":"@triggerOutputs()?['body/_leidos_partnersignpost_value']"},"authentication":"@parameters('$authentication')"}},"Send_an_email_notification_to_Client_with_Partner_Links":{"runAfter":{"Get_SEP_Partner_Account_Record_2":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sendmail","operationId":"SendEmailV3","apiId":"/providers/Microsoft.PowerApps/apis/shared_sendmail"},"parameters":{"request/to":"@{outputs('Contact')?['body/emailaddress1']};","request/subject":"HIE Account Management Disengagment","request/text":"<p>@{outputs('AM_Logo')}<br>\n@{outputs('Logo')}<br>\n<br>\nDear @{outputs('Contact')?['body/firstname']},<br>\n<br>\nAs detailed in our terms of engagement letter we will from time to time review our relationship with account managed client. As discussed at our meeting on @{triggerOutputs()?['body/leidos_dateofexitinterview']} you will no longer be formally account managed by HIE at this time.<br>\n<br>\nI would like to advise that@{outputs('Get_SEP_Partner_Account_Record_2')?['body/name']} is the agency that is best placed to provide you with advice and other support services at this time.<br>\n<br>\n@{outputs('Get_SEP_Partner_Account_Record_2')?['body/leidos_partnerservicesummary']}<br>\n<br>\nPhone: @{outputs('Get_SEP_Partner_Account_Record_2')?['body/telephone1']}<br>\nEmail: @{outputs('Get_SEP_Partner_Account_Record_2')?['body/emailaddress1']}<br>\n<br>\nYour organisation will no longer appear on the monthly published account management list. &nbsp;However, if your circumstances change and there is an opportunity for HIE to help support accelerated growth/growth ambitions, @{outputs('Get_SEP_Partner_Account_Record_2')?['body/name']} will discuss your plans with us to ascertain if there are any areas that HIE would be able to support.<br>\n<br>\nI would like to take this opportunity to thank you for your ongoing contribution to the region’s economy, and wish you and your organisation every success in the future.<br>\n<br>\nKind regards<br>\n<br>\n@{variables('Account Owner')}<br>\n<br>\n<br>\n@{outputs('Footer')}</p>"},"authentication":"@parameters('$authentication')"}}}},"expression":{"equals":["@triggerOutputs()?['body/_leidos_partnersignpost_value']","@null"]},"type":"If"},"Send_an_email_notification_to_Owner_on_Completion":{"runAfter":{"Check_if_a_Partner_has_been_Signposted_and_use_template_accordingly_2":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sendmail","operationId":"SendEmailV3","apiId":"/providers/Microsoft.PowerApps/apis/shared_sendmail"},"parameters":{"request/to":"@{outputs('Account_Owner')?['body/internalemailaddress']};","request/subject":"@{triggerOutputs()?['body/leidos_name']} Account Management chase Completed","request/text":"<p>@{outputs('Account')?['body/name']} has completed th Account Management Process, and is no longer actively managed.<br>\n<br>\n@{outputs('Run_a_Child_Flow')?['Body']?['entityurl']}</p>"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"else":{"actions":{"Call_Action_to_create_Task_to_create_Exit_Letter":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"PerformBoundAction","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_accountmanagementrecords","actionName":"Microsoft.Dynamics.CRM.leidos_AMRActionCreateTaskforExitLetter","recordId":"@triggerOutputs()?['body/leidos_accountmanagementrecordid']"},"authentication":"@parameters('$authentication')"}}}},"expression":{"equals":["@triggerOutputs()?['body/leidos_automaticallysenddisengagementletter']",true]},"type":"If"}}}},"default":{"actions":{}},"expression":"@triggerOutputs()?['body/statuscode']","type":"Switch"},"AM_Logo":{"runAfter":{"Run_a_Child_Flow":["Succeeded"]},"type":"Compose","inputs":"<img src=\"https://soya8g.dm.files.1drv.com/y4mFQ4dqZqiJQFT1dK8UBA0mnhvl9ZIrQDh_8R18Htt6igMV6onoUn89vXfm3KTnOEq2DEb-1RGK_2cpmHp0wWioIBkGMGbBv9MPsDN_4Zeh69fcxUmZ0TwI5i_9vXHGKh86q4g58EuxT5cJGrzcd6cTm3QI9lqzmxjMRz8aCqFH1TkOHHW8uirC5XR7C6sZ88csaA5j-DpcvggozuOGETgbA?width=337&height=77&cropmode=none\" width=\"337\" height=\"77\" />"},"Logo":{"runAfter":{"AM_Logo":["Succeeded"]},"type":"Compose","inputs":"<img src=\"https://fj2xra.dm.files.1drv.com/y4mWIMmFKCzoUXj4jwnZQCGBCUkbc9qFa7KSaubPZzzMnN4Zvv57CGC9UtUnjgoTpURtjoxs9I7HYO8Q5QWrWKppf3Xbouam2uytdlErBq3YzyxX9YcZaS-RdK0M2zpYSrCR8IO7IR5bWzXPYJ4gPc_Bn2GJVNpDHz1TRvlpetflbYgScS5NVIVoH2SSkTRdt1fKcPp-UwrXKtvRJtLcxU8tw?width=167&height=73&cropmode=none\" width=\"167\" height=\"73\" align=\"right\" />"},"Footer":{"runAfter":{"Logo":["Succeeded"]},"type":"Compose","inputs":"<img src=\"https://tfunla.dm.files.1drv.com/y4mWDYs-8Zq_AcXWaEHnMp7vhFrchz2KG77qpnVkTMg9eCBKA6UZ0AvwazBkGQXn-ITSm1dStP6BuRIlBatTbXFTHsK479mf9ZLi7R0ZcC6_e-W4cEpRHwR0kNTKJDQnmTgpa8SeIkahmQ5EIOfjDXduy039URM4PuSz_pX9v1yQLOj6razOe2KVhTOiOFI5KHbbqGTN-csb8nyU2rZl4n7sA?width=1013&height=276&cropmode=none\" width=\"1013\" height=\"276\" />"},"Account":{"runAfter":{"Footer":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","recordId":"@triggerOutputs()?['body/_leidos_parentaccount_value']"},"authentication":"@parameters('$authentication')"}},"Contact":{"runAfter":{"Account":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"contacts","recordId":"@outputs('Account')?['body/_primarycontactid_value']"},"authentication":"@parameters('$authentication')"}},"Initialize_variable":{"runAfter":{"Contact":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Account Owner","type":"string","value":"Highland and Islands Enterprise"}]}},"Condition":{"actions":{"Get_a_record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"teams","recordId":"@outputs('Account')?['body/_ownerid_value']"},"authentication":"@parameters('$authentication')"}},"Set_Owner_to_team_Name":{"runAfter":{"Get_a_record":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Account Owner","value":"@outputs('Get_a_record')?['body/name']"}}},"runAfter":{"Initialize_variable":["Succeeded"]},"else":{"actions":{"Account_Owner":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@outputs('Account')?['body/_ownerid_value']"},"authentication":"@parameters('$authentication')"}},"Set_owner_to_Contact_Full_Name":{"runAfter":{"Account_Owner":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Account Owner","value":"@outputs('Account_Owner')?['body/fullname']"}}}},"expression":{"equals":["@outputs('Account')?['body/_ownerid_value@Microsoft.Dynamics.CRM.lookuplogicalname']","team"]},"type":"If"},"Run_a_Child_Flow":{"runAfter":{},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"b0db1a8a-c449-ea11-a812-000d3a0ba151"},"body":{"EntityId_Inputs":"@triggerOutputs()?['body/leidos_accountmanagementrecordid']","EntityType_Value":"leidos_accountmanagementrecord"}}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}