HIECDS/Workflows/AMR-Flow-CreateorUpdateParentAccount-Updaterecords-227D7F5D-5444-EA11-A812-000D3A0BAD17.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"AMR_Create_or_Update_Parent_Account":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":4,"subscriptionRequest/entityname":"leidos_accountmanagementrecord","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"leidos_parentaccount"},"authentication":"@parameters('$authentication')"}}},"actions":{"Parent_Account_Contains_Data":{"actions":{"Get_Account":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","recordId":"@triggerOutputs()?['body/_leidos_parentaccount_value']"},"authentication":"@parameters('$authentication')"}},"Update_AMR":{"runAfter":{"Get_Account":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_accountmanagementrecords","recordId":"@triggerOutputs()?['body/leidos_accountmanagementrecordid']","item/leidos_name":"@concat(outputs('Get_Account')?['body/name'],' - ', formatDateTime(utcNow(), 'dd-MMM-yyyy'))"},"authentication":"@parameters('$authentication')"}},"Update_Account_with_AMR":{"runAfter":{"Update_AMR":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","recordId":"@outputs('Get_Account')?['body/accountid']","item/leidos_CurrentAMRRecord@odata.bind":"/leidos_accountmanagementrecords(@{outputs('Update_AMR')?['body/leidos_accountmanagementrecordid']})","item/statecode":0,"item/statuscode":445260000},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"expression":{"not":{"equals":["@triggerOutputs()?['body/_leidos_parentaccount_value']","@null"]}},"type":"If"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}