HIECDS/Workflows/AMR-Flow-TriggeronPendingapproval-FAEA2275-7346-EA11-A812-000D3A0BA151.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}},"shared_approvals":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_approvals"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"AMR_Change_of_Status_Reason_is_pending_Approval":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":3,"subscriptionRequest/entityname":"leidos_accountmanagementrecord","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"statuscode","subscriptionRequest/filterexpression":"statuscode eq 445260003"},"authentication":"@parameters('$authentication')"}}},"actions":{"Get_Area_Office":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_areaoffices","recordId":"@triggerOutputs()?['body/_leidos_areaoffice_value']"},"authentication":"@parameters('$authentication')"}},"Get_Area_Office_Contact_User_Record":{"runAfter":{"Get_Area_Office":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@outputs('Get_Area_Office')?['body/_leidos_areaofficeprocesscontact_value']"},"authentication":"@parameters('$authentication')"}},"Get_AMR_Record_Owner":{"runAfter":{"Get_Area_Office_Contact_User_Record":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@triggerOutputs()?['body/_ownerid_value']"},"authentication":"@parameters('$authentication')"}},"Run_a_Child_Flow":{"runAfter":{"Get_AMR_Record_Owner":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"b0db1a8a-c449-ea11-a812-000d3a0ba151"},"body":{"EntityId_Inputs":"@triggerOutputs()?['body/leidos_accountmanagementrecordid']","EntityType_Value":"leidos_accountmanagementrecord"}}},"Start_and_wait_for_an_approval":{"runAfter":{"Run_a_Child_Flow":["Succeeded"]},"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_approvals","operationId":"StartAndWaitForAnApproval","apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals"},"parameters":{"approvalType":"Basic","WebhookApprovalCreationInput/title":"Account Management Approval requested  for @{triggerOutputs()?['body/leidos_name']}","WebhookApprovalCreationInput/assignedTo":"@outputs('Get_Area_Office_Contact_User_Record')?['body/internalemailaddress']","WebhookApprovalCreationInput/details":"Please examine the Account Management record in the attached link and repond to this emil to Approve or Reject the request for Account management.","WebhookApprovalCreationInput/itemLink":"@outputs('Run_a_Child_Flow')?['Body']?['entityurl']","WebhookApprovalCreationInput/itemLinkDescription":"Account  Management Record","WebhookApprovalCreationInput/enableNotifications":true,"WebhookApprovalCreationInput/enableReassignment":true},"authentication":"@parameters('$authentication')"}},"Condition":{"actions":{"Update_AMR_To_Approved":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_accountmanagementrecords","recordId":"@triggerOutputs()?['body/leidos_accountmanagementrecordid']","item/leidos_AreaManagerApprovalBy@odata.bind":"/systemusers(@{outputs('Get_AMR_Record_Owner')?['body/systemuserid']})","item/leidos_areamanagerapprovalon":"@utcNow()","item/leidos_businessreviewreminderdate":"@addDays(utcNow(),335)","item/statuscode":445260000},"authentication":"@parameters('$authentication')"},"description":"Updates data and BR Reminder Date for 11  Months"},"Update_Parent_Account_Status_Reason":{"runAfter":{"Update_AMR_To_Approved":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","recordId":"@triggerOutputs()?['body/_leidos_parentaccount_value']","item/statecode":0,"item/statuscode":445260001},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Start_and_wait_for_an_approval":["Succeeded"]},"else":{"actions":{"Update_AMR_to_Rejected":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_accountmanagementrecords","recordId":"@triggerOutputs()?['body/leidos_accountmanagementrecordid']","item/statecode":1,"item/statuscode":445260001},"authentication":"@parameters('$authentication')"}},"Update_a_record":{"runAfter":{"Update_AMR_to_Rejected":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","recordId":"@triggerOutputs()?['body/_leidos_parentaccount_value']","item/statecode":0,"item/statuscode":1},"authentication":"@parameters('$authentication')"}}}},"expression":{"equals":["@outputs('Start_and_wait_for_an_approval')?['body/outcome']","Approve"]},"type":"If"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}