HIECDS/Workflows/AnticipatedSpendProfile-Flow-GenerateName-BEF37971-E762-EA11-A811-000D3A0BAD17.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"On_Create_of_Anticipated_Spend_Profile":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":4,"subscriptionRequest/entityname":"leidos_anticipatedspendprofile","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"leidos_hiefinancialyear"},"authentication":"@parameters('$authentication')"}}},"actions":{"Get_Financial_Year":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_financialyears","recordId":"@triggerOutputs()?['body/_leidos_hiefinancialyear_value']"},"authentication":"@parameters('$authentication')"}},"Compose_Name":{"runAfter":{"Capital_or_Revenue":["Succeeded"]},"type":"Compose","inputs":"@concat(outputs('Project_Funding')?['body/leidos_name'] , '-', outputs('Get_Financial_Year')?['body/leidos_financialyear'])"},"Update_a_record":{"runAfter":{"Compose_Name":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_anticipatedspendprofiles","recordId":"@triggerOutputs()?['body/leidos_anticipatedspendprofileid']","item/leidos_capital":"@if(outputs('Capital_or_Revenue'),triggerOutputs()?['body/leidos_fundingamount'],null)","item/leidos_name":"@outputs('Compose_Name')","item/leidos_revenue":"@if(outputs('Capital_or_Revenue'),null,triggerOutputs()?['body/leidos_fundingamount'])"},"authentication":"@parameters('$authentication')"}},"Project_Funding":{"runAfter":{"Get_Financial_Year":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projectfundings","recordId":"@triggerOutputs()?['body/_leidos_parentprojectfunding_value']"},"authentication":"@parameters('$authentication')"}},"Project_Cost":{"runAfter":{"Project_Funding":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projectcosts","recordId":"@outputs('Project_Funding')?['body/_leidos_parentprojectcost_value']"},"authentication":"@parameters('$authentication')"}},"Capital_or_Revenue":{"runAfter":{"Project_Cost":["Succeeded"]},"type":"Compose","inputs":"@outputs('Project_Cost')?['body/leidos_capitalorrevenue']"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}