HIECDS/Workflows/AnticipatedSpendProfile-Flow-GenerateName-BEF37971-E762-EA11-A811-000D3A0BAD17.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"On_Create_of_Anticipated_Spend_Profile":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":4,"subscriptionRequest/entityname":"leidos_anticipatedspendprofile","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"leidos_hiefinancialyear"},"authentication":"@parameters('$authentication')"}}},"actions":{"Get_Financial_Year":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_financialyears","recordId":"@triggerOutputs()?['body/_leidos_hiefinancialyear_value']"},"authentication":"@parameters('$authentication')"}},"Get_Project":{"runAfter":{"Get_Financial_Year":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projects","recordId":"@triggerOutputs()?['body/_leidos_parentproject_value']"},"authentication":"@parameters('$authentication')"}},"Compose_Name":{"runAfter":{"Get_Project":["Succeeded"]},"type":"Compose","inputs":"@concat(outputs('Get_Project')?['body/leidos_name'],'-',outputs('Get_Project')?['body/leidos_projectreference'] , '-', outputs('Get_Financial_Year')?['body/leidos_financialyear'])"},"Update_a_record":{"runAfter":{"Compose_Name":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_anticipatedspendprofiles","recordId":"@triggerOutputs()?['body/leidos_anticipatedspendprofileid']","item/leidos_name":"@outputs('Compose_Name')"},"authentication":"@parameters('$authentication')"}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}