HIECDS/Workflows/Application-Flow-SubmitforBudgetApproval-04D1B1BD-F956-EA11-A811-000D3A7F1BBB.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_record_is_created,_updated_or_deleted":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":3,"subscriptionRequest/entityname":"leidos_application","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"leidos_submitapplicationforbudgetapproval","subscriptionRequest/filterexpression":"leidos_submitapplicationforbudgetapproval eq true"},"authentication":"@parameters('$authentication')"}}},"actions":{"Update_Application_with_Submit_Details":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_applications","recordId":"@triggerOutputs()?['body/leidos_applicationid']","item/leidos_budgetapprovalrequestedon":"@utcNow()"},"authentication":"@parameters('$authentication')"}},"Get_Delegated_Authority_Record":{"runAfter":{"Update_Application_with_Submit_Details":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@outputs('Update_Application_with_Submit_Details')?['body/_leidos_budgetapprovaldelegatedauthority_value']"},"authentication":"@parameters('$authentication')"}},"Run_a_Child_Flow":{"runAfter":{"Get_Delegated_Authority_Record":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"b0db1a8a-c449-ea11-a812-000d3a0ba151"},"body":{"EntityId_Inputs":"@triggerOutputs()?['body/leidos_applicationid']","EntityType_Value":"leidos_application"}}},"List_BPF_instance":{"runAfter":{"Run_a_Child_Flow":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"new_bpfapplicationbusinessprocessflows","$filter":"_bpf_leidos_applicationid_value eq  '@{triggerOutputs()?['body/leidos_applicationid']}","$top":1},"authentication":"@parameters('$authentication')"}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}