HIECDS/Workflows/Application-Flow-CreateApplicationWhenEnquiryisClo-53AB298D-1A3D-EA11-A812-000D3A0BAD17.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Enquiry_-_On_Change_of_State":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":3,"subscriptionRequest/entityname":"leidos_enquiry","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"statecode"},"authentication":"@parameters('$authentication')"}}},"actions":{"State_is_Inactive_and_Progressed":{"actions":{"Owner_Type":{"runAfter":{},"type":"Compose","inputs":"@triggerOutputs()?['body/_ownerid_value@Microsoft.Dynamics.CRM.lookuplogicalname']"},"Account_Record":{"runAfter":{"Owner_Type":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","recordId":"@triggerOutputs()?['body/_leidos_account_value']"},"authentication":"@parameters('$authentication')"}},"Create_Application":{"runAfter":{"Account_Record":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_applications","item/leidos_name":"@concat(outputs('Account_Record')?['body/name'],' - ', formatDateTime(utcNow(), 'dd-MMM-yyyy'))","item/leidos_ParentAccount@odata.bind":"accounts(@{outputs('Account_Record')?['body/accountid']})","item/leidos_SourceEnquiry@odata.bind":"leidos_enquiries(@{triggerOutputs()?['body/leidos_enquiryid']})"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"expression":{"and":[{"equals":["@triggerOutputs()?['body/statecode']",1]},{"equals":["@triggerOutputs()?['body/statuscode']",2]}]},"type":"If"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}