HIECDS/Workflows/Application-Flow-CreateApplicationWhenEnquiryisClo-53AB298D-1A3D-EA11-A812-000D3A0BAD17.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Enquiry_-_On_Change_of_State":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":3,"subscriptionRequest/entityname":"leidos_enquiry","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"statecode","subscriptionRequest/filterexpression":"statuscode eq 2"},"authentication":"@parameters('$authentication')"}}},"actions":{"Account_Record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","recordId":"@triggerOutputs()?['body/_leidos_account_value']"},"authentication":"@parameters('$authentication')"}},"Create_Application":{"runAfter":{"Account_Record":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_applications","item/leidos_name":"@concat(outputs('Account_Record')?['body/name'],' - ', formatDateTime(utcNow(), 'dd-MMM-yyyy'))","item/leidos_ParentAccount@odata.bind":"accounts(@{outputs('Account_Record')?['body/accountid']})","item/leidos_SourceEnquiry@odata.bind":"leidos_enquiries(@{triggerOutputs()?['body/leidos_enquiryid']})"},"authentication":"@parameters('$authentication')"}},"Condition":{"actions":{"Get_USer":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@triggerOutputs()?['body/_leidos_relevantperson_value']"},"authentication":"@parameters('$authentication')"}},"Set_Application_to_Relevant_Person":{"runAfter":{"Get_USer":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_applications","recordId":"@outputs('Create_Application')?['body/leidos_applicationid']","item/ownerid@odata.bind":"/systemusers(@{triggerOutputs()?['body/_leidos_relevantperson_value']})"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Create_Application":["Succeeded"]},"else":{"actions":{"Set_Application_to_Relevant_Team":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_applications","recordId":"@outputs('Create_Application')?['body/leidos_applicationid']","item/ownerid@odata.bind":"/teams(@{triggerOutputs()?['body/_leidos_relevantteam_value']})"},"authentication":"@parameters('$authentication')"}}}},"expression":{"equals":["@triggerOutputs()?['body/leidos_relevantpersonorteam']",true]},"type":"If"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}