HIECDS/Workflows/Application-Flow-GenerateAnswers-DDF13500-5959-EA11-A811-000D3A0BAD17.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_Support_Item_is_populated":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":4,"subscriptionRequest/entityname":"leidos_project","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"leidos_generateapplicationquestionset,leidos_supportitemtype"},"authentication":"@parameters('$authentication')"},"description":"Triggered By the Submit or a change of Support item"}},"actions":{"Condition":{"actions":{"Get_Support_Item":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_supportitems","recordId":"@triggerOutputs()?['body/_leidos_supportitemtype_value']"},"authentication":"@parameters('$authentication')"}},"List_Questions":{"runAfter":{"Get_Support_Item":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_applicationquestions","fetchXml":"<fetch top=\"50\" >\n  <entity name=\"leidos_applicationquestion\" >\n    <link-entity name=\"leidos_applicationquestion_leidos_suppo\" from=\"leidos_applicationquestionid\" to=\"leidos_applicationquestionid\" alias=\"SI\" intersect=\"true\" >\n      <filter>\n        <condition attribute=\"leidos_supportitemid\" operator=\"eq\" value=\"@{outputs('Get_Support_Item')?['body/leidos_supportitemid']}\" />\n      </filter>\n    </link-entity>\n  </entity>\n</fetch>"},"authentication":"@parameters('$authentication')"},"description":"Get a List fo teh Questions related to this specific Product"},"Apply_to_each_2":{"foreach":"@outputs('List_Questions')?['body/value']","actions":{"List_of_Answers_Not_in_application":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_applicationanswers","fetchXml":"<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n  <entity name=\"leidos_applicationanswer\">\n    <attribute name=\"leidos_applicationanswerid\" />\n    <attribute name=\"leidos_question\" />\n    <attribute name=\"leidos_parentapplication\" />\n    <filter type=\"and\">\n      <condition attribute=\"leidos_parentapplication\" operator=\"eq\"  value=\"@{triggerOutputs()?['body/_leidos_parentapplication_value']}\" />\n      <condition attribute=\"leidos_question\" operator=\"eq\"  value=\"@{items('Apply_to_each_2')?['leidos_applicationquestionid']}\" />\n    </filter>\n  </entity>\n</fetch>"},"authentication":"@parameters('$authentication')"}},"Count_of_Records":{"actions":{"Create_a_new_record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_applicationanswers","item/leidos_name":"@items('Apply_to_each_2')?['leidos_question']","item/leidos_ParentApplication@odata.bind":"/leidos_applications(@{triggerOutputs()?['body/_leidos_parentapplication_value']})","item/leidos_Question@odata.bind":"/leidos_applicationquestions(@{items('Apply_to_each_2')?['leidos_applicationquestionid']})"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"List_of_Answers_Not_in_application":["Succeeded"]},"else":{"actions":{"Compose":{"runAfter":{},"type":"Compose","inputs":"@length(outputs('List_of_Answers_Not_in_application')?['body/value'])"}}},"expression":{"equals":["@length(outputs('List_of_Answers_Not_in_application')?['body/value'])",0]},"type":"If"}},"runAfter":{"List_Questions":["Succeeded"]},"type":"Foreach","description":"Check if the Question already exists, if so skip it"}},"runAfter":{},"else":{"actions":{"Terminate":{"runAfter":{},"type":"Terminate","inputs":{"runStatus":"Succeeded"}}}},"expression":{"and":[{"not":{"equals":["@triggerOutputs()?['body/_leidos_supportitemtype_value']","@null"]}},{"equals":["@triggerOutputs()?['body/leidos_generateapplicationquestionset']",true]}]},"type":"If"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}