HIECDS/Workflows/Application-Flow-OnISASubmitforApproval-3C457237-D84C-EA11-A812-000D3A0BA151.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}},"shared_approvals":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_approvals"}},"shared_sendmail":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_sendmail"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"On_ISA_Submit_for_Approval":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":3,"subscriptionRequest/entityname":"leidos_application","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"leidos_submitisaforapproval"},"authentication":"@parameters('$authentication')"}}},"actions":{"Get_Delegated_Authority_Email":{"runAfter":{"Set_Application_to_ISA_Submitted":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@triggerOutputs()?['body/_leidos_isaapprovaldelegatedauthority_value']"},"authentication":"@parameters('$authentication')"}},"Run_a_Child_Flow":{"runAfter":{"Get_Delegated_Authority_Email":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"b0db1a8a-c449-ea11-a812-000d3a0ba151"},"body":{"EntityId_Inputs":"@outputs('Get_Delegated_Authority_Email')?['body/applicationid']","EntityType_Value":"leidos_application"}}},"Start_and_wait_for_an_approval":{"runAfter":{"Get_Application_BPF_Instance":["Succeeded"]},"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_approvals","operationId":"StartAndWaitForAnApproval","apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals"},"parameters":{"approvalType":"CustomResponse","WebhookApprovalCreationInput/responseOptions":["Proceed to Application","Reject","Defer"],"WebhookApprovalCreationInput/title":"ISA Approval Request for @{triggerOutputs()?['body/leidos_name']}","WebhookApprovalCreationInput/assignedTo":"@outputs('Get_Delegated_Authority_Email')?['body/internalemailaddress']","WebhookApprovalCreationInput/details":"The following has been submitted for an Inital Strategic Investment Review \n\n[@{triggerOutputs()?['body/leidos_name']}](@{outputs('Run_a_Child_Flow')?['Body']?['entityurl']})","WebhookApprovalCreationInput/itemLink":"@triggerOutputs()?['body/leidos_initialstrategicassessmentlink']","WebhookApprovalCreationInput/itemLinkDescription":"ISA Link to Document","WebhookApprovalCreationInput/enableNotifications":true,"WebhookApprovalCreationInput/enableReassignment":true},"authentication":"@parameters('$authentication')"}},"Switch":{"runAfter":{"Start_and_wait_for_an_approval":["Succeeded"]},"cases":{"Proceed_to_Application":{"case":"Proceed to Application","actions":{"Update_Application":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_applications","recordId":"@triggerOutputs()?['body/leidos_applicationid']","item/leidos_initialstrategicassessmentapproved":true,"item/leidos_isaapprovedon":"@utcNow()","item/leidos_isadecisionoutcome":445260000,"item/statecode":0,"item/statuscode":445260000},"authentication":"@parameters('$authentication')"}},"Apply_to_each_2":{"foreach":"@outputs('Get_Application_BPF_Instance')?['body/value']","actions":{"Set_Stage_to_Application":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"new_bpfapplicationbusinessprocessflows","recordId":"@items('Apply_to_each_2')?['businessprocessflowinstanceid']","item/traversedpath":"d4869582-06ff-0470-3c36-003fc9de853a,313c0376-8ef2-4f73-861e-cea865a2069f,4f21da05-bba6-4c30-88f5-8ea86f006e88"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Update_Application":["Succeeded"]},"type":"Foreach"}}},"Reject":{"case":"Reject","actions":{"Update_Application_to_Not_Progressed":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_applications","recordId":"@triggerOutputs()?['body/leidos_applicationid']","item/leidos_isadecisionoutcome":445260001,"item/statecode":1,"item/statuscode":2},"authentication":"@parameters('$authentication')"}}}},"Defer":{"case":"Defer","actions":{"Update_Deferred_Application_":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_applications","recordId":"@triggerOutputs()?['body/leidos_applicationid']","item/leidos_initialstrategicassessmentapproved":false,"item/leidos_isadecisionoutcome":445260002,"item/statecode":0,"item/statuscode":1,"item/leidos_submitisaforapproval":false},"authentication":"@parameters('$authentication')"}},"Apply_to_each_3":{"foreach":"@outputs('Get_Application_BPF_Instance')?['body/value']","actions":{"Reset_BPF":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"new_bpfapplicationbusinessprocessflows","recordId":"@items('Apply_to_each_3')?['businessprocessflowinstanceid']","item/traversedpath":"d4869582-06ff-0470-3c36-003fc9de853a"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Update_Deferred_Application_":["Succeeded"]},"type":"Foreach"}}}},"default":{"actions":{}},"expression":"@outputs('Start_and_wait_for_an_approval')?['body/outcome']","type":"Switch"},"Set_Application_to_ISA_Submitted":{"runAfter":{"Does_Submitted_==_true":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_applications","recordId":"@triggerOutputs()?['body/leidos_applicationid']","item/leidos_isaapprovalrequestedon":"@utcNow()","item/statecode":0,"item/statuscode":445260005},"authentication":"@parameters('$authentication')"}},"Owner_Type":{"runAfter":{"Switch":["Succeeded"]},"type":"Compose","inputs":"@triggerOutputs()?['body/_ownerid_value@Microsoft.Dynamics.CRM.lookuplogicalname']"},"Send_Email_to_Owner":{"actions":{},"runAfter":{"Owner_Type":["Succeeded"]},"else":{"actions":{"Get_Owner":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@triggerOutputs()?['body/_ownerid_value']"},"authentication":"@parameters('$authentication')"}},"Apply_to_each":{"foreach":"@outputs('Start_and_wait_for_an_approval')?['body/responses']","actions":{"Send_an_email_notification_(V3)":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sendmail","operationId":"SendEmailV3","apiId":"/providers/Microsoft.PowerApps/apis/shared_sendmail"},"parameters":{"request/to":"@{outputs('Get_Owner')?['body/internalemailaddress']};","request/subject":"ISA Approval Request for @{triggerOutputs()?['body/leidos_name']} has been set to :  @{outputs('Start_and_wait_for_an_approval')?['body/outcome']}","request/text":"<p><a href=\"@{outputs('Run_a_Child_Flow')?['Body']?['entityurl']}\">@{triggerOutputs()?['body/leidos_name']}</a>&nbsp;</p>"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Get_Owner":["Succeeded"]},"type":"Foreach"}}},"expression":{"equals":["@outputs('Owner_Type')","teams"]},"type":"If"},"Get_Application_BPF_Instance":{"runAfter":{"Run_a_Child_Flow":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"new_bpfapplicationbusinessprocessflows","$filter":"_bpf_leidos_applicationid_value eq  '@{triggerOutputs()?['body/leidos_applicationid']}'","$top":1},"authentication":"@parameters('$authentication')"}},"Does_Submitted_==_true":{"actions":{},"runAfter":{},"else":{"actions":{"Terminate":{"runAfter":{},"type":"Terminate","inputs":{"runStatus":"Succeeded"}}}},"expression":{"equals":["@triggerOutputs()?['body/leidos_submitisaforapproval']",true]},"type":"If"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}