HIECDS/Workflows/Application-Flow-GenerateAnswers-DDF13500-5959-EA11-A811-000D3A0BAD17.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Application_-_Generate_Questions":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":4,"subscriptionRequest/entityname":"leidos_application","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"leidos_generateapplicationquestionset","subscriptionRequest/filterexpression":"leidos_generateapplicationquestionset eq true"},"authentication":"@parameters('$authentication')"},"description":"Triggered By the Submit or a change of Support item"}},"actions":{"Get_List_of_Questions_from_All_Projects":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_applicationquestions","fetchXml":"<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"true\">\n  <entity name=\"leidos_applicationquestion\">\n    <attribute name=\"leidos_applicationquestionid\" />\n    <attribute name=\"leidos_question\" />\n    <attribute name=\"createdon\" />\n    <order attribute=\"leidos_question\" descending=\"false\" />\n    <link-entity name=\"leidos_applicationquestion_leidos_suppo\" from=\"leidos_applicationquestionid\" to=\"leidos_applicationquestionid\" visible=\"false\" intersect=\"true\">\n      <link-entity name=\"leidos_supportitem\" from=\"leidos_supportitemid\" to=\"leidos_supportitemid\" alias=\"aj\">\n        <link-entity name=\"leidos_project\" from=\"leidos_supportitemtype\" to=\"leidos_supportitemid\" link-type=\"inner\" alias=\"ak\">\n          <link-entity name=\"leidos_application\" from=\"leidos_applicationid\" to=\"leidos_parentapplication\" link-type=\"inner\" alias=\"al\">\n            <filter type=\"and\">\n              <condition attribute=\"leidos_applicationid\" operator=\"eq\" uiname=\"James Freel\" uitype=\"leidos_application\" value=\"@{triggerOutputs()?['body/leidos_applicationid']}\" />\n            </filter>\n          </link-entity>\n        </link-entity>\n      </link-entity>\n    </link-entity>\n  </entity>\n</fetch>"},"authentication":"@parameters('$authentication')"},"description":"Get a List of the Questions fpr all Projects associated with this Application"},"Apply_to_each":{"foreach":"@outputs('Get_List_of_Questions_from_All_Projects')?['body/value']","actions":{"List_of_Answers_Not_in_application_2":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_applicationanswers","fetchXml":"<fetch top=\"200\" distinct=\"true\" >\n  <entity name=\"leidos_applicationanswer\" >\n    <filter>\n      <condition attribute=\"leidos_parentapplication\" operator=\"eq\" value=\"@{triggerOutputs()?['body/leidos_applicationid']}\" />\n      <condition attribute=\"leidos_question\" operator=\"eq\" value=\"@{items('Apply_to_each')?['leidos_applicationquestionid']}\" />\n    </filter>\n  </entity>\n</fetch>"},"authentication":"@parameters('$authentication')"}},"If_there_is_a_result,_the_Answer_Exists":{"actions":{"Create_a_new_Answer_Associated_to_the_Applicaiton":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_applicationanswers","item/leidos_name":"@items('Apply_to_each')?['leidos_question']","item/leidos_ParentApplication@odata.bind":"/leidos_applications(@{triggerOutputs()?['body/leidos_applicationid']})","item/leidos_Question@odata.bind":"/leidos_applicationquestions(@{items('Apply_to_each')?['leidos_applicationquestionid']})"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"List_of_Answers_Not_in_application_2":["Succeeded"]},"expression":{"equals":["@length(outputs('List_of_Answers_Not_in_application_2')?['body/value'])",0]},"type":"If"}},"runAfter":{"Get_List_of_Questions_from_All_Projects":["Succeeded"]},"type":"Foreach","description":"Check if the Question already exists, if so skip it"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}