HIECDS/Workflows/Application-Flow-SubmitforBudgetApproval-04D1B1BD-F956-EA11-A811-000D3A7F1BBB.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}},"shared_approvals":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_approvals"}},"shared_sendmail":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_sendmail"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_record_is_created,_updated_or_deleted":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":3,"subscriptionRequest/entityname":"leidos_application","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"leidos_submitapplicationforbudgetapproval","subscriptionRequest/filterexpression":"leidos_submitapplicationforbudgetapproval eq true"},"authentication":"@parameters('$authentication')"}}},"actions":{"Update_Application_with_Submit_Details":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_applications","recordId":"@triggerOutputs()?['body/leidos_applicationid']","item/leidos_budgetapprovalrequestedon":"@utcNow()"},"authentication":"@parameters('$authentication')"}},"Get_Delegated_Authority_Record":{"runAfter":{"Update_Application_with_Submit_Details":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@outputs('Update_Application_with_Submit_Details')?['body/_leidos_budgetapprovaldelegatedauthority_value']"},"authentication":"@parameters('$authentication')"}},"Run_a_Child_Flow":{"runAfter":{"Get_Delegated_Authority_Record":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"b0db1a8a-c449-ea11-a812-000d3a0ba151"},"body":{"EntityId_Inputs":"@triggerOutputs()?['body/leidos_applicationid']","EntityType_Value":"leidos_application"}}},"List_BPF_instance":{"runAfter":{"Run_a_Child_Flow":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"new_bpfapplicationbusinessprocessflows","$filter":"_bpf_leidos_applicationid_value eq  '@{triggerOutputs()?['body/leidos_applicationid']}","$top":1},"authentication":"@parameters('$authentication')"}},"Start_and_wait_for_an_approval":{"runAfter":{"List_BPF_instance":["Succeeded"]},"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_approvals","operationId":"StartAndWaitForAnApproval","apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals"},"parameters":{"approvalType":"CustomResponse","WebhookApprovalCreationInput/responseOptions":["Approve Budget","Reject ","Defer"],"WebhookApprovalCreationInput/title":"Budget Approval requested for @{triggerOutputs()?['body/leidos_name']}","WebhookApprovalCreationInput/assignedTo":"@outputs('Get_Delegated_Authority_Record')?['body/internalemailaddress']","WebhookApprovalCreationInput/details":"The following has been submitted for Budget Approval\n\n[@{triggerOutputs()?['body/leidos_name']}](@{outputs('Run_a_Child_Flow')?['Body']?['entityurl']})","WebhookApprovalCreationInput/itemLinkDescription":"Application awating Budget Approval","WebhookApprovalCreationInput/enableNotifications":true,"WebhookApprovalCreationInput/enableReassignment":true},"authentication":"@parameters('$authentication')"}},"Switch_on_Outcome":{"runAfter":{"Start_and_wait_for_an_approval":["Succeeded"]},"cases":{"Approve_Budget":{"case":"Approve Budget","actions":{}},"Reject_Budget":{"case":"Reject ","actions":{}},"Defer_Budget":{"case":"Defer","actions":{}}},"default":{"actions":{}},"expression":"@outputs('Start_and_wait_for_an_approval')?['body/outcome']","type":"Switch"},"Owner_Type":{"runAfter":{"Switch_on_Outcome":["Succeeded"]},"type":"Compose","inputs":"@triggerOutputs()?['body/_ownerid_value@Microsoft.Dynamics.CRM.lookuplogicalname']"},"Condition":{"actions":{},"runAfter":{"Owner_Type":["Succeeded"]},"else":{"actions":{"Get_the_Owner":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@triggerOutputs()?['body/_ownerid_value@Microsoft.Dynamics.CRM.lookuplogicalname']"},"authentication":"@parameters('$authentication')"}},"Apply_to_each":{"foreach":"@outputs('Start_and_wait_for_an_approval')?['body/responses']","actions":{"Send_an_email_notification_(V3)":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sendmail","operationId":"SendEmailV3","apiId":"/providers/Microsoft.PowerApps/apis/shared_sendmail"},"parameters":{"request/to":"@{outputs('Get_the_Owner')?['body/internalemailaddress']};","request/subject":"Budget Approval request for @{triggerOutputs()?['body/leidos_name']} has been : @{outputs('Start_and_wait_for_an_approval')?['body/outcome']}","request/text":"<p>@{items('Apply_to_each')?['comments']}</p>"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Get_the_Owner":["Succeeded"]},"type":"Foreach"}}},"expression":{"equals":["@outputs('Owner_Type')","teams"]},"type":"If"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}