HIECDS/Workflows/BPF-AccountManagmentClientPlan-onChangeofStage-C50CE1AD-8A58-EA11-A811-000D3A0BAD17.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"On_BPF_AM_Client_Plan__Stage_Change":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":4,"subscriptionRequest/entityname":"leidos_bpf_amclientplan","subscriptionRequest/scope":4},"authentication":"@parameters('$authentication')"}}},"actions":{"StageID":{"runAfter":{},"type":"Compose","inputs":"@triggerOutputs()?['body/_activestageid_value']"},"Route_on_Stage":{"runAfter":{"StageID":["Succeeded"]},"cases":{"In_Progress":{"case":"6f54e3ef-0209-4ced-819d-8cbf268f77f8","actions":{"Update_Business_Review":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_accountmanagementclientplans","recordId":"@triggerOutputs()?['body/_bpf_leidos_accountmanagementclientplanid_value']","item/statecode":0,"item/statuscode":445260000},"authentication":"@parameters('$authentication')"}}}},"Awaiting_Approval":{"case":"1803be2c-d1e9-49e5-bd23-27184cc08c2b","actions":{"Business_Review_Awaiting_Approval":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_accountmanagementclientplans","recordId":"@triggerOutputs()?['body/_bpf_leidos_accountmanagementclientplanid_value']","item/statecode":0,"item/statuscode":445260001},"authentication":"@parameters('$authentication')"}}}}},"default":{"actions":{}},"expression":"@outputs('StageID')","type":"Switch"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}