HIECDS/Workflows/BPF-BusinessReview-onChangeofStage-C50CE1AD-8A58-EA11-A811-000D3A0BAD17.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"On_Business_review_Stage_Change":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":4,"subscriptionRequest/entityname":"leidos_bpf_businessreview","subscriptionRequest/scope":4},"authentication":"@parameters('$authentication')"}}},"actions":{"StageID":{"runAfter":{},"type":"Compose","inputs":"@triggerOutputs()?['body/_activestageid_value']"},"Route_on_Stage":{"runAfter":{"StageID":["Succeeded"]},"cases":{"In_Progress":{"case":"ef35f22f-a1e9-4fdf-8671-2ddaf1ce62e6","actions":{"Update_Business_Review":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_businessreviews","recordId":"@triggerOutputs()?['body/businessprocessflowinstanceid']","item/statecode":0,"item/statuscode":445260000},"authentication":"@parameters('$authentication')"}}}},"Awaiting_Approval":{"case":"d5310a31-067e-455c-a050-b2d2fe4fb4cd","actions":{"Business_Review_Awaiting_Approval":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_businessreviews","recordId":"@triggerOutputs()?['body/businessprocessflowinstanceid']","item/statecode":0,"item/statuscode":445260006},"authentication":"@parameters('$authentication')"}}}}},"default":{"actions":{}},"expression":"@outputs('StageID')","type":"Switch"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}