HIECDS/Workflows/BPFApplication-OnchangeofStage-73AE4FB7-BC54-EA11-A813-000D3A0BAD17.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_record_is_created,_updated_or_deleted":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":3,"subscriptionRequest/entityname":"new_bpfapplicationbusinessprocessflow","subscriptionRequest/scope":4},"authentication":"@parameters('$authentication')"}}},"actions":{"Application_Record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_applications","recordId":"@triggerOutputs()?['body/_bpf_leidos_applicationid_value']"},"authentication":"@parameters('$authentication')"}},"Switch":{"runAfter":{"Application_Record":["Succeeded"]},"cases":{"Pre_Application":{"case":"d4869582-06ff-0470-3c36-003fc9de853a","actions":{"Application_to_Pre_Application":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_applications","recordId":"@outputs('Application_Record')?['body/leidos_applicationid']","item/statecode":0,"item/statuscode":1},"authentication":"@parameters('$authentication')"}}}},"Project":{"case":"6cfd45ec-db98-4a6c-9466-2899c3d74887","actions":{}},"Routing_Assesment":{"case":"2d05f357-9847-4831-bed5-b9ca51e38df8","actions":{"Update_a_record_2":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_applications","recordId":"@outputs('Application_Record')?['body/leidos_applicationid']","item/statecode":0,"item/statuscode":1},"authentication":"@parameters('$authentication')"}}}},"ISA_Stage":{"case":"313c0376-8ef2-4f73-861e-cea865a2069f","actions":{"Application_to_ISA_Stage":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_applications","recordId":"@outputs('Application_Record')?['body/leidos_applicationid']","item/statecode":0,"item/statuscode":445260005},"authentication":"@parameters('$authentication')"}}}},"Application":{"case":"4f21da05-bba6-4c30-88f5-8ea86f006e88","actions":{"Application_to_Application_Stage":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_applications","recordId":"@outputs('Application_Record')?['body/leidos_applicationid']","item/statecode":0,"item/statuscode":445260000},"authentication":"@parameters('$authentication')"}}}},"Decision":{"case":"9425e5f7-d74b-49e4-a80e-05d9b2254df6","actions":{"Application_to_Decision":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_applications","recordId":"@outputs('Application_Record')?['body/leidos_applicationid']","item/statecode":0,"item/statuscode":445260002},"authentication":"@parameters('$authentication')"}}}},"Straight_to_Application":{"case":"aab54763-3195-49f4-9ced-348298732f67","actions":{"Update_a_record":{"runAfter":{"Application_to_Application":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_applications","recordId":"@outputs('Application_Record')?['body/leidos_applicationid']","item/statecode":0,"item/statuscode":445260000},"authentication":"@parameters('$authentication')"}},"Application_to_Application":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"new_bpfapplicationbusinessprocessflows","recordId":"@triggerOutputs()?['body/businessprocessflowinstanceid']","item/traversedpath":"d4869582-06ff-0470-3c36-003fc9de853a,6cfd45ec-db98-4a6c-9466-2899c3d74887,2d05f357-9847-4831-bed5-b9ca51e38df8,aab54763-3195-49f4-9ced-348298732f67,4f21da05-bba6-4c30-88f5-8ea86f006e88"},"authentication":"@parameters('$authentication')"}}}},"Appraisal":{"case":"e0460fb8-2024-4cec-aa73-2b4e75897f11","actions":{"Application_to_Assessment":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_applications","recordId":"@outputs('Application_Record')?['body/leidos_applicationid']","item/statecode":0,"item/statuscode":445260001},"authentication":"@parameters('$authentication')"}}}}},"default":{"actions":{}},"expression":"@triggerOutputs()?['body/_activestageid_value']","type":"Switch"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}