HIECDS/Workflows/BPFAccount-Flow-AccountProcessonChangeofStage-8A4F4477-2444-EA11-A812-000D3A0BA151.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_Account_BPF_is_Updated":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":4,"subscriptionRequest/entityname":"leidos_bpfaccountprocess","subscriptionRequest/scope":4},"authentication":"@parameters('$authentication')"}}},"actions":{"Stage_value":{"runAfter":{},"type":"Compose","inputs":"@triggerOutputs()?['body/_activestageid_value']"},"BPF_Status_Reason":{"runAfter":{"Stage_value":["Succeeded"]},"type":"Compose","inputs":"@triggerOutputs()?['body/statuscode']"},"Switch":{"runAfter":{"Get_Account":["Succeeded"]},"cases":{"Basic_Details":{"case":"c40b1ea2-8dc9-4711-a2ef-280b4a89ea23","actions":{"Update_Account_to_Active":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","recordId":"@outputs('Get_Account')?['body/accountid']","item/statuscode":1},"authentication":"@parameters('$authentication')"}}}},"Segmentation":{"case":"8f6f8aec-a442-48f0-8d94-f7ddcea4f4dd","actions":{"Condition":{"actions":{},"runAfter":{},"expression":{"equals":["@outputs('BPF_Status_Reason')",2]},"type":"If"}}},"Proposed_for_AMR":{"case":"92b356d1-878a-44c3-878c-381bd0733930","actions":{"AMR_Record":{"runAfter":{},"type":"Compose","inputs":"@triggerOutputs()?['body/_bpf_leidos_accountmanagementrecordid_value']"},"Update_Account_Status_Reason_to_Proposed_for_AMR":{"runAfter":{"Update_AMR_Status_to_Draft_(in_case_of_Reactivate)":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","recordId":"@outputs('Get_Account')?['body/accountid']","item/leidos_CurrentAMRRecord@odata.bind":"/leidos_accountmanagementrecords(@{outputs('AMR_Record')})","item/statecode":0,"item/statuscode":445260000},"authentication":"@parameters('$authentication')"}},"Update_AMR_Status_to_Draft_(in_case_of_Reactivate)":{"runAfter":{"AMR_Record":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_accountmanagementrecords","recordId":"@outputs('AMR_Record')","item/statecode":0,"item/statuscode":1},"authentication":"@parameters('$authentication')"}}}},"Recommendation":{"case":"e15c4961-588b-4ea1-b542-0b28b55eb8ec","actions":{"Get_AMR":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_accountmanagementrecords","recordId":"@triggerOutputs()?['body/_bpf_leidos_accountmanagementrecordid_value']"},"authentication":"@parameters('$authentication')"}},"Set_to_Draft":{"runAfter":{"Get_AMR":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_accountmanagementrecords","recordId":"@outputs('Get_AMR')?['body/leidos_accountmanagementrecordid']","item/statuscode":1},"authentication":"@parameters('$authentication')"}}}},"Approval":{"case":"47206328-fdc0-424e-9354-1ad96a985aa9","actions":{"Get_the_AMR_Record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_accountmanagementrecords","recordId":"@triggerOutputs()?['body/_bpf_leidos_accountmanagementrecordid_value']"},"authentication":"@parameters('$authentication')"}},"Set_to_Pending_Approval":{"runAfter":{"Get_the_AMR_Record":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_accountmanagementrecords","recordId":"@outputs('Get_the_AMR_Record')?['body/leidos_accountmanagementrecordid']","item/leidos_CompletedBy@odata.bind":"/systemusers(@{triggerOutputs()?['body/_modifiedby_value']})","item/leidos_completedon":"@utcNow()","item/statuscode":445260003},"authentication":"@parameters('$authentication')"}}}}},"default":{"actions":{}},"expression":"@outputs('Stage_value')","type":"Switch"},"Get_Account":{"runAfter":{"BPF_Status_Reason":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","recordId":"@triggerOutputs()?['body/_bpf_accountid_value']"},"authentication":"@parameters('$authentication')"}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}