HIECDS/Workflows/BPFAMR-Flow-SwitchonStageExits-ACBA6155-804D-EA11-A812-000D3A0BAD17.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_record_is_created,_updated_or_deleted":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":4,"subscriptionRequest/entityname":"leidos_bpfamrdirectcreation","subscriptionRequest/scope":4},"authentication":"@parameters('$authentication')"}}},"actions":{"Get_AMR_Record":{"runAfter":{"Stage_Value":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_accountmanagementrecords","recordId":"@triggerOutputs()?['body/_bpf_leidos_accountmanagementrecordid_value']"},"authentication":"@parameters('$authentication')"}},"Stage_Value":{"runAfter":{},"type":"Compose","inputs":"@triggerOutputs()?['body/_activestageid_value']"},"Switch":{"runAfter":{"Get_AMR_Record":["Succeeded"]},"cases":{"Recommendation":{"case":"d8195ae2-c3e9-4408-b931-3fd9d0c496f6","actions":{"Set_AMR_to_Draft":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_accountmanagementrecords","recordId":"@outputs('Get_AMR_Record')?['body/leidos_accountmanagementrecordid']","item/statecode":0,"item/statuscode":1},"authentication":"@parameters('$authentication')"}}}},"Approval":{"case":"668b825f-ccf3-4280-811f-f01c39902a30","actions":{"Update_a_record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_accountmanagementrecords","recordId":"@outputs('Get_AMR_Record')?['body/leidos_accountmanagementrecordid']","item/leidos_CompletedBy@odata.bind":"/systemusers(@{triggerOutputs()?['body/_modifiedby_value']})","item/leidos_completedon":"@utcNow()","item/statecode":0,"item/statuscode":445260003},"authentication":"@parameters('$authentication')"}}}}},"default":{"actions":{}},"expression":"@outputs('Stage_Value')","type":"Switch"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}