HIECDS/Workflows/BusinessReview-Flow-SetGrothPLanCompletedOn-11D3E842-8D5C-EA11-A811-000D3A7F1BBB.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_Growth_Plan_Complete_is_set_":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":3,"subscriptionRequest/entityname":"leidos_businessreview","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"leidos_growthplancomplete"},"authentication":"@parameters('$authentication')"}}},"actions":{"Condition":{"actions":{"Set_Growth_Plan_Completed_On":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_businessreviews","recordId":"@triggerOutputs()?['body/leidos_businessreviewid']","item/leidos_growthplancompletedon":"@utcNow()"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"else":{"actions":{"Clear_Growth_Plan_Completed_On_":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_businessreviews","recordId":"@triggerOutputs()?['body/leidos_businessreviewid']","item/leidos_growthplancompletedon":"@null"},"authentication":"@parameters('$authentication')"}}}},"expression":{"equals":["@triggerOutputs()?['body/leidos_growthplancomplete']",true]},"type":"If"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}