HIECDS/Workflows/BusinessReview-Flow-OnCreate-D67A81EB-6947-EA11-A812-000D3A0BA151.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Business_Review_On_Create":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":1,"subscriptionRequest/entityname":"leidos_businessreview","subscriptionRequest/scope":4},"authentication":"@parameters('$authentication')"}}},"actions":{"Get_All_Questions":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_businessreviewquestions"},"authentication":"@parameters('$authentication')"}},"Apply_to_each":{"foreach":"@outputs('Get_All_Questions')?['body/value']","actions":{"Create_a_new_record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_businessreviewanswerses","item/leidos_name":"@items('Apply_to_each')?['leidos_question']","item/leidos_Question@odata.bind":"/leidos_businessreviewquestions(@{items('Apply_to_each')?['leidos_businessreviewquestionid']})","item/leidos_ParentBusinessReview@odata.bind":"/leidos_businessreviews(@{triggerOutputs()?['body/leidos_businessreviewid']})"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Get_All_Questions":["Succeeded"]},"type":"Foreach"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}