HIECDS/Workflows/BusinessReview-Flow-ActionPlanSubmittedforApproval-F1B73A4B-9B4D-EA11-A812-000D3A0BAD17.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}},"shared_approvals":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_approvals"}},"shared_sendmail":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_sendmail"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Business_Review_Action_Plan_Submitted_for_Approval":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":3,"subscriptionRequest/entityname":"leidos_businessreview","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"leidos_submitactionplanforapproval","subscriptionRequest/filterexpression":"leidos_submitactionplanforapproval eq true"},"authentication":"@parameters('$authentication')"}}},"actions":{"Get_AMR_Record":{"runAfter":{"Update_Submitted_On":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_accountmanagementrecords","recordId":"@triggerOutputs()?['body/_leidos_accountmanagementrecord_value']"},"authentication":"@parameters('$authentication')"}},"Get_Area_Office":{"runAfter":{"Get_AMR_Record":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_areaoffices","recordId":"@outputs('Get_AMR_Record')?['body/_leidos_areaoffice_value']"},"authentication":"@parameters('$authentication')"}},"Get_Office_Manager":{"runAfter":{"Get_Area_Office":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@outputs('Get_Area_Office')?['body/_leidos_officemanager_value']"},"authentication":"@parameters('$authentication')"}},"Get_Business_Review_URL":{"runAfter":{"Get_Office_Manager":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"b0db1a8a-c449-ea11-a812-000d3a0ba151"},"body":{"EntityId_Inputs":"@outputs('Update_Submitted_On')?['body/leidos_businessreviewid']","EntityType_Value":"leidos_businessreview"}}},"Start_and_wait_for_an_approval":{"runAfter":{"Get_Business_Review_URL":["Succeeded"]},"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_approvals","operationId":"StartAndWaitForAnApproval","apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals"},"parameters":{"approvalType":"Basic","WebhookApprovalCreationInput/title":"A Business Review Action Plan  for @{triggerOutputs()?['body/leidos_name']} has been submitted for approval","WebhookApprovalCreationInput/assignedTo":"@outputs('Get_Office_Manager')?['body/internalemailaddress']","WebhookApprovalCreationInput/details":"Please follow the link and Approve / Reject the following\n\n","WebhookApprovalCreationInput/itemLink":"@outputs('Get_Business_Review_URL')?['Body']?['entityurl']","WebhookApprovalCreationInput/itemLinkDescription":"@triggerOutputs()?['body/leidos_name']","WebhookApprovalCreationInput/enableNotifications":true,"WebhookApprovalCreationInput/enableReassignment":true},"authentication":"@parameters('$authentication')"}},"Switch":{"runAfter":{"Start_and_wait_for_an_approval":["Succeeded"]},"cases":{"Approve":{"case":"Approve","actions":{"Update_BR":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_businessreviews","recordId":"@triggerOutputs()?['body/leidos_businessreviewid']","item/leidos_ActionPlanApprovedBy@odata.bind":"/systemusers(@{outputs('Get_Office_Manager')?['body/systemuserid']})","item/leidos_actionplanapprovedon":"@utcNow()","item/statecode":1,"item/statuscode":445260001},"authentication":"@parameters('$authentication')"}}}},"Reject":{"case":"Reject","actions":{"Update_a_record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_businessreviews","recordId":"@outputs('Update_Submitted_On')?['body/leidos_businessreviewid']","item/statecode":1,"item/statuscode":445260004},"authentication":"@parameters('$authentication')"}}}}},"default":{"actions":{}},"expression":"@outputs('Start_and_wait_for_an_approval')?['body/outcome']","type":"Switch"},"Send_an_email_notification_(V3)":{"runAfter":{"Get_Owner":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sendmail","operationId":"SendEmailV3","apiId":"/providers/Microsoft.PowerApps/apis/shared_sendmail"},"parameters":{"request/to":"@{outputs('Get_Owner')?['body/internalemailaddress']};","request/subject":"Action Plan for @{triggerOutputs()?['body/leidos_name']} has been @{outputs('Start_and_wait_for_an_approval')?['body/outcome']}","request/text":"<p><a href=\"&lt;object custom=\">@{outputs('Get_Business_Review_URL')?['Body']?['entityurl']}\"&gt;</a>@{triggerOutputs()?['body/leidos_name']}<a href=\"&lt;object custom=\"></a>&nbsp;</p>"},"authentication":"@parameters('$authentication')"}},"Get_Owner":{"runAfter":{"Switch":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@triggerOutputs()?['body/_ownerid_value']"},"authentication":"@parameters('$authentication')"}},"Update_Submitted_On":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_businessreviews","recordId":"@triggerOutputs()?['body/leidos_businessreviewid']","item/leidos_actionplansubmittedon":"@utcNow()","item/statecode":0,"item/statuscode":445260002},"authentication":"@parameters('$authentication')"}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}