HIECDS/Workflows/BusinessReviewOnCreate-Flow-CreateRecords-D67A81EB-6947-EA11-A812-000D3A0BA151.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Business_Review_On_Create":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":1,"subscriptionRequest/entityname":"leidos_businessreview","subscriptionRequest/scope":4},"authentication":"@parameters('$authentication')"}}},"actions":{"Get_All_Questions":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_businessreviewquestions"},"authentication":"@parameters('$authentication')"}},"Apply_to_each":{"foreach":"@outputs('Get_All_Questions')?['body/value']","actions":{"Create_Business_Review_Answer":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_businessreviewanswerses","item/leidos_Question@odata.bind":"/leidos_businessreviewquestions(@{items('Apply_to_each')?['leidos_businessreviewquestionid']})","item/leidos_name":"@items('Apply_to_each')?['leidos_questionindex']","item/leidos_ParentBusinessReview@odata.bind":"/leidos_businessreviews(@{triggerOutputs()?['body/leidos_businessreviewid']})"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Get_All_Questions":["Succeeded"]},"type":"Foreach"},"Get_All_Review_Categories":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_businessreviewquestioncategories"},"authentication":"@parameters('$authentication')"}},"Apply_to_each_2":{"foreach":"@outputs('Get_All_Review_Categories')?['body/value']","actions":{"Create_Review_Summary_by_Category":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_businessreviewsummaries","item/leidos_name":"@items('Apply_to_each_2')?['leidos_category']","item/leidos_ParentBusinessReview@odata.bind":"/leidos_businessreviews(@{triggerOutputs()?['body/leidos_businessreviewid']})","item/leidos_Category@odata.bind":"/leidos_businessreviewsummaries(@{items('Apply_to_each_2')?['leidos_businessreviewquestioncategoryid']})","item/leidos_missingscores":"@items('Apply_to_each_2')?['leidos_countofquestions']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Get_All_Review_Categories":["Succeeded"]},"type":"Foreach"},"Get_a_record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","recordId":"@triggerOutputs()?['body/_leidos_relatedaccount_value']"},"authentication":"@parameters('$authentication')"}},"Organisation_Type":{"runAfter":{"Get_a_record":["Succeeded"]},"type":"Compose","inputs":"@outputs('Get_a_record')?['body/_leidos_organisationtype_value']"},"List_Growth_Plan_Measures":{"runAfter":{"Organisation_Type":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_growthplanmeasures","$filter":"_leidos_growthplanorganisationtype_value eq @{outputs('Organisation_Type')}"},"authentication":"@parameters('$authentication')"}},"Apply_to_each_3":{"foreach":"@outputs('List_Growth_Plan_Measures')?['body/value']","actions":{"Create_a_new_Growth_Plan_Response":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_growthplanresponses","item/leidos_Measure@odata.bind":"/leidos_growthplanmeasures(@{items('Apply_to_each_3')?['leidos_growthplanmeasureid']})","item/leidos_growthplanresponse":"@items('Apply_to_each_3')?['leidos_name']","item/leidos_ParentBusinessReview@odata.bind":"/leidos_businessreviews(@{triggerOutputs()?['body/leidos_businessreviewid']})"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"List_Growth_Plan_Measures":["Succeeded"]},"type":"Foreach"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}