HIECDS/Workflows/ClientReviewOnCreate-Flow-CreateRecords-A85B9CCD-145E-EA11-A811-000D3A0BAD17.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"AM_Client_Plans_Review_On_Create":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":1,"subscriptionRequest/entityname":"leidos_accountmanagementclientplan","subscriptionRequest/scope":4},"authentication":"@parameters('$authentication')"}}},"actions":{"Get_All_Questions":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_clientplanquestions"},"authentication":"@parameters('$authentication')"}},"Apply_to_each":{"foreach":"@outputs('Get_All_Questions')?['body/value']","actions":{"Get_Category":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_clientplanquestioncategories","recordId":"@items('Apply_to_each')?['_leidos_category_value']"},"authentication":"@parameters('$authentication')"}},"Create_Client_Review_Responses":{"runAfter":{"Get_Category":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_clientplanreviewresponses","item/leidos_name":"@items('Apply_to_each')?['leidos_questionindex']","item/leidos_Question@odata.bind":"/leidos_clientplanquestions(@{items('Apply_to_each')?['leidos_clientplanquestionid']})","item/leidos_Category@odata.bind":"/leidos_clientplanquestioncategories(@{items('Apply_to_each')?['_leidos_category_value']})","item/leidos_categoryindex":"@outputs('Get_Category')?['body/leidos_categoryindex']","item/leidos_ParentClientPlan@odata.bind":"/leidos_accountmanagementclientplans(@{triggerOutputs()?['body/leidos_accountmanagementclientplanid']})"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Get_All_Questions":["Succeeded"]},"type":"Foreach"},"Get_All_Review_Categories":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_clientplanquestioncategories"},"authentication":"@parameters('$authentication')"}},"Apply_to_each_2":{"foreach":"@outputs('Get_All_Review_Categories')?['body/value']","actions":{"Create__Client_Plan_Summary_by_Category":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_clientplansummaries","item/leidos_name":"@items('Apply_to_each_2')?['leidos_category']","item/leidos_Category@odata.bind":"/leidos_clientplanquestioncategories(@{items('Apply_to_each_2')?['leidos_clientplanquestioncategoryid']})","item/leidos_missingscores":"@items('Apply_to_each_2')?['leidos_countofquestions']","item/leidos_ParentClientPlan@odata.bind":"/leidos_accountmanagementclientplans(@{triggerOutputs()?['body/leidos_accountmanagementclientplanid']})"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Get_All_Review_Categories":["Succeeded"]},"type":"Foreach"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}