HIECDS/Workflows/ClientReviewOnCreate-Flow-CreateRecords-A85B9CCD-145E-EA11-A811-000D3A0BAD17.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"AM_Client_Plans_Review_On_Create":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":1,"subscriptionRequest/entityname":"leidos_accountmanagementclientplan","subscriptionRequest/scope":4},"authentication":"@parameters('$authentication')"}}},"actions":{"Get_All_Questions":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_clientplanquestions"},"authentication":"@parameters('$authentication')"}},"Apply_to_each":{"foreach":"@outputs('Get_All_Questions')?['body/value']","actions":{"Get_Category":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_clientplanquestioncategories","recordId":"@items('Apply_to_each')?['_leidos_category_value']"},"authentication":"@parameters('$authentication')"}},"Create_Client_Review_Responses":{"runAfter":{"Get_Category":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_clientplanreviewresponses","item/leidos_name":"@items('Apply_to_each')?['leidos_questionindex']","item/leidos_Question@odata.bind":"/leidos_clientplanquestions(@{items('Apply_to_each')?['leidos_clientplanquestionid']})","item/leidos_Category@odata.bind":"/leidos_clientplanquestioncategories(@{items('Apply_to_each')?['_leidos_category_value']})","item/leidos_categoryindex":"@outputs('Get_Category')?['body/leidos_categoryindex']","item/leidos_ParentClientPlan@odata.bind":"/leidos_accountmanagementclientplans(@{triggerOutputs()?['body/leidos_accountmanagementclientplanid']})"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Get_All_Questions":["Succeeded"]},"type":"Foreach"},"Get_All_Review_Categories":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_clientplanquestioncategories"},"authentication":"@parameters('$authentication')"}},"Apply_to_each_2":{"foreach":"@outputs('Get_All_Review_Categories')?['body/value']","actions":{"Create__Client_Plan_Summary_by_Category":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_clientplansummaries","item/leidos_name":"@items('Apply_to_each_2')?['leidos_category']","item/leidos_Category@odata.bind":"/leidos_clientplanquestioncategories(@{items('Apply_to_each_2')?['leidos_clientplanquestioncategoryid']})","item/leidos_index":"@items('Apply_to_each_2')?['leidos_categoryindex']","item/leidos_missingscores":"@items('Apply_to_each_2')?['leidos_countofquestions']","item/leidos_ParentClientPlan@odata.bind":"/leidos_accountmanagementclientplans(@{triggerOutputs()?['body/leidos_accountmanagementclientplanid']})"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Get_All_Review_Categories":["Succeeded"]},"type":"Foreach"},"Get_Last_Approved_Client_Plan":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_accountmanagementclientplans","fetchXml":"<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n  <entity name=\"leidos_accountmanagementclientplan\">\n    <attribute name=\"leidos_accountmanagementclientplanid\" />\n    <attribute name=\"leidos_name\" />\n    <attribute name=\"leidos_clientplanapprovedon\" />\n    <attribute name=\"createdon\" />\n    <order attribute=\"leidos_clientplanapprovedon\" descending=\"true\" />\n    <order attribute=\"createdon\" descending=\"true\" />\n    <filter type=\"and\">\n      <condition attribute=\"statuscode\" operator=\"eq\" value=\"2\" />\n      <condition attribute=\"leidos_accountmanagementrecord\" operator=\"eq\"  value=\"{@{triggerOutputs()?['body/_leidos_accountmanagementrecord_value']}}\" />\n    </filter>\n  </entity>\n</fetch>","$top":1},"authentication":"@parameters('$authentication')"}},"Get_First_Record_to_avoid_Loop":{"runAfter":{"Get_Last_Approved_Client_Plan":["Succeeded"]},"type":"Compose","inputs":"@First(outputs('Get_Last_Approved_Client_Plan')?['body/value'])"},"Parse_JSON":{"runAfter":{"Get_First_Record_to_avoid_Loop":["Succeeded"]},"type":"ParseJson","inputs":{"content":"@outputs('Get_First_Record_to_avoid_Loop')","schema":{"type":"object","properties":{"@@odata.type":{"type":"string"},"@@odata.id":{"type":"string"},"@@odata.etag":{"type":"string"},"@@odata.editLink":{"type":"string"},"leidos_accountmanagementclientplanid@odata.type":{"type":"string"},"leidos_accountmanagementclientplanid":{"type":"string"},"leidos_name":{"type":"string"},"createdon@odata.type":{"type":"string"},"createdon":{"type":"string"}}}}},"last_Approved_Client_Plan_ID":{"runAfter":{"Parse_JSON":["Succeeded"]},"type":"Compose","inputs":"@body('Parse_JSON')?['leidos_accountmanagementclientplanid']"},"Get_Client_Action_Plans":{"runAfter":{"last_Approved_Client_Plan_ID":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_clientactionplans","$filter":"statuscode eq 1 and _leidos_parentclientplan_value eq @{outputs('last_Approved_Client_Plan_ID')}"},"authentication":"@parameters('$authentication')"}},"Apply_to_each_3":{"foreach":"@outputs('Get_Client_Action_Plans')?['body/value']","actions":{"Get_Parent_AMR":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_accountmanagementrecords","recordId":"@triggerOutputs()?['body/_leidos_accountmanagementrecord_value']"},"authentication":"@parameters('$authentication')"}},"Create_a_new_Client_Action_Plan_for_the_current_AMCP":{"runAfter":{"Get_Parent_Account":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_clientactionplans","item/leidos_action":"@items('Apply_to_each_3')?['leidos_action']","item/leidos_commentsdependenciescriticalpath":"@items('Apply_to_each_3')?['leidos_commentsdependenciescriticalpath']","item/leidos_dateconfirmprojectfit":"@items('Apply_to_each_3')?['leidos_dateconfirmprojectfit']","item/leidos_estimatedenddate":"@items('Apply_to_each_3')?['leidos_estimatedenddate']","item/leidos_estimatedstartdate":"@items('Apply_to_each_3')?['leidos_estimatedstartdate']","item/leidos_hiefundingamount":"@items('Apply_to_each_3')?['leidos_hiefundingamount']","item/leidos_howtheprojectsupportthestrategicaim":"@items('Apply_to_each_3')?['leidos_howtheprojectsupportthestrategicaim']","item/leidos_name":"@items('Apply_to_each_3')?['leidos_name']","item/leidos_ParentAccount@odata.bind":"/accounts(@{outputs('Get_Parent_Account')?['body/accountid']})","item/leidos_ParentClientPlan@odata.bind":"/leidos_accountmanagementclientplans(@{triggerOutputs()?['body/leidos_accountmanagementclientplanid']})","item/leidos_ParentReviewTheme@odata.bind":"/leidos_clientplansummaries(@{items('Apply_to_each_3')?['_leidos_parentreviewtheme_value']})","item/leidos_projectstatus":"@items('Apply_to_each_3')?['leidos_projectstatus']","item/statuscode":1},"authentication":"@parameters('$authentication')"}},"Get_Parent_Account":{"runAfter":{"Get_Parent_AMR":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","recordId":"@outputs('Get_Parent_AMR')?['body/_leidos_parentaccount_value']"},"authentication":"@parameters('$authentication')"}},"Condition":{"actions":{"Update_a_record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_clientactionplans","recordId":"@outputs('Create_a_new_Client_Action_Plan_for_the_current_AMCP')?['body/leidos_clientactionplanid']","item/leidos_Project@odata.bind":"leidos_supportitems(@{items('Apply_to_each_3')?['_leidos_project_value']})"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Create_a_new_Client_Action_Plan_for_the_current_AMCP":["Succeeded"]},"expression":{"not":{"equals":["@items('Apply_to_each_3')?['_leidos_project_value']","@null"]}},"type":"If"}},"runAfter":{"Get_Client_Action_Plans":["Succeeded"]},"type":"Foreach"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}