HIECDS/Workflows/Enquiry-Flow-OnCreateEnquiry-E78099A4-4447-EA11-A812-000D3A0BA151.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"impersonation":{},"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}},"shared_sendmail":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_sendmail"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"On_Create_Enquiry":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger"},"parameters":{"subscriptionRequest/message":1,"subscriptionRequest/entityname":"leidos_enquiry","subscriptionRequest/scope":4,"subscriptionRequest/name":"e78099a4-4447-ea11-a812-000d3a0ba151"},"authentication":"@parameters('$authentication')"}}},"actions":{"Get_Enquiry_BPF_for_this_record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"ListRecords"},"parameters":{"entityName":"leidos_enquirybusinessflows","$filter":"_bpf_leidos_enquiryid_value eq '@{triggerOutputs()?['body/leidos_enquiryid']}'","$top":1},"authentication":"@parameters('$authentication')"}},"Set_team_Ownership_Path":{"actions":{"Get_Enquiry_Team":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"GetItem"},"parameters":{"entityName":"teams","recordId":"4077D59C-7938-EA11-A813-000D3A0BA151"},"authentication":"@parameters('$authentication')"}},"Update_Enquiry_Owner":{"runAfter":{"Get_Enquiry_Team":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord"},"parameters":{"entityName":"leidos_enquiries","recordId":"@triggerOutputs()?['body/leidos_enquiryid']","item/ownerid@odata.bind":"/teams(@{outputs('Get_Enquiry_Team')?['body/teamid']})"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Get_Enquiry_BPF_for_this_record":["Succeeded"]},"expression":{"equals":["@triggerOutputs()?['body/leidos_forwardtoenquiryteam']",true]},"type":"If"},"Send_Email_Path":{"actions":{"Send_an_email_notification_(V3)":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sendmail","connectionName":"shared_sendmail","operationId":"SendEmailV3"},"parameters":{"request/to":"@{triggerOutputs()?['body/leidos_emailaddress']};","request/subject":"Enquiry Reference @{triggerOutputs()?['body/leidos_referencenumber']} has been received ","request/text":"<p>@{triggerOutputs()?['body/leidos_firstname']}<br>\n<br>\nConfrimation that your enquiry has been recieved and will be actioned. &nbsp;The Reference Number to quote is@{triggerOutputs()?['body/leidos_referencenumber']} .<br>\n<br>\nWe will endevour to action this within 5 workling days.</p>"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Get_Enquiry_BPF_for_this_record":["Succeeded"]},"expression":{"not":{"equals":["@triggerOutputs()?['body/leidos_emailaddress']","@null"]}},"type":"If"},"From_Customer_Portal":{"actions":{"Get_Contact":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"GetItem"},"parameters":{"entityName":"contacts","recordId":"@triggerOutputs()?['body/_leidos_contact_value']"},"authentication":"@parameters('$authentication')"}},"Get_Account":{"runAfter":{"Get_Contact":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"GetItem"},"parameters":{"entityName":"accounts","recordId":"@outputs('Get_Contact')?['body/_parentcustomerid_value']"},"authentication":"@parameters('$authentication')"}},"Update_Enquiry_with_Account_from_Portal_Contact":{"runAfter":{"Get_Account":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord"},"parameters":{"entityName":"leidos_enquiries","recordId":"@triggerOutputs()?['body/leidos_enquiryid']","item/leidos_Account@odata.bind":"/accounts(@{outputs('Get_Account')?['body/accountid']})"},"authentication":"@parameters('$authentication')"}},"Apply_to_each":{"foreach":"@outputs('Get_Enquiry_BPF_for_this_record')?['body/value']","actions":{"Get_Enquiry_BPF":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"GetItem"},"parameters":{"entityName":"leidos_enquirybusinessflows","recordId":"@items('Apply_to_each')?['businessprocessflowinstanceid']"},"authentication":"@parameters('$authentication')"}},"Update_Enquiry_BPF_Stage":{"runAfter":{"Get_Enquiry_BPF":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord"},"parameters":{"entityName":"leidos_enquirybusinessflows","recordId":"@outputs('Get_Enquiry_BPF')?['body/businessprocessflowinstanceid']","item/traversedpath":"e28d9059-970b-48a7-a529-18cbc628567c,47b6dcd3-1eb0-436d-90db-ff28557b2084"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Update_Enquiry_with_Account_from_Portal_Contact":["Succeeded"]},"type":"Foreach"}},"runAfter":{"Get_Enquiry_BPF_for_this_record":["Succeeded"]},"expression":{"equals":["@triggerOutputs()?['body/leidos_enquirysource']",445260001]},"type":"If"},"SEP":{"actions":{"Apply_to_each_2":{"foreach":"@outputs('Get_Enquiry_BPF_for_this_record')?['body/value']","actions":{"Get_Enquiry_BPF_2":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"GetItem"},"parameters":{"entityName":"leidos_enquirybusinessflows","recordId":"@items('Apply_to_each_2')?['businessprocessflowinstanceid']"},"authentication":"@parameters('$authentication')"}},"Update_BPF_Active_Stage_2":{"runAfter":{"Get_Enquiry_BPF_2":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord"},"parameters":{"entityName":"leidos_enquirybusinessflows","recordId":"@outputs('Get_Enquiry_BPF_2')?['body/businessprocessflowinstanceid']","item/traversedpath":"e28d9059-970b-48a7-a529-18cbc628567c,47b6dcd3-1eb0-436d-90db-ff28557b2084"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"type":"Foreach"}},"runAfter":{"Get_Enquiry_BPF_for_this_record":["Succeeded"]},"expression":{"equals":["@triggerOutputs()?['body/leidos_enquirysource']",445260000]},"type":"If"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}