HIECDS/Workflows/Enquiry-OnBPFChangeofStage-A3175653-8638-EA11-A813-000D3A0BA99A.json
{"properties":{"connectionReferences":{"shared_commondataservice":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataservice"}},"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_the_Enquiry_BPF_is_updated":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":4,"subscriptionRequest/entityname":"leidos_enquirybusinessflow","subscriptionRequest/scope":4},"authentication":"@parameters('$authentication')"}}},"actions":{"Get_the_Enquiry_Record":{"runAfter":{"Enquiry_Record":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice","operationId":"GetItem_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"default.cds","table":"leidos_enquiries","id":"@triggerOutputs()?['body/_bpf_leidos_enquiryid_value']"},"authentication":"@parameters('$authentication')"}},"Stage_value":{"runAfter":{},"type":"Compose","inputs":"@triggerOutputs()?['body/_activestageid_value']"},"Enquiry_Record":{"runAfter":{"Stage_value":["Succeeded"]},"type":"Compose","inputs":"@triggerOutputs()?['body/_bpf_leidos_enquiryid_value']"},"Switch":{"runAfter":{"Get_the_Enquiry_Record":["Succeeded"]},"cases":{"Enquiry_Step":{"case":"47b6dcd3-1eb0-436d-90db-ff28557b2084","actions":{"Update_a_record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice","operationId":"PatchItem_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"default.cds","table":"leidos_enquiries","id":"@outputs('Enquiry_Record')","item/statuscode":445260000,"item/statecode":0,"item/_ownerid_type":""},"authentication":"@parameters('$authentication')"}}}},"Final_Step":{"case":"f913c53a-8c5c-46ab-bd38-d0047ef2ab28","actions":{"Update_a_record_2":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice","operationId":"PatchItem_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"default.cds","table":"leidos_enquiries","id":"@outputs('Enquiry_Record')","item/statuscode":2,"item/statecode":1,"item/_ownerid_type":""},"authentication":"@parameters('$authentication')"}}}}},"default":{"actions":{}},"expression":"@outputs('Stage_value')","type":"Switch"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}