HIECDS/Workflows/EnquiryBPF-ScheduleFlow-CloseCompletedBPF-0E15C6A8-2673-EA11-A811-000D3A7FEDBE.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Recurrence":{"recurrence":{"frequency":"Day","interval":1,"timeZone":"UTC","schedule":{"hours":["4"]}},"type":"Recurrence"}},"actions":{"List_Open_Enquiry_BPF_in_Final_Stage":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_enquirybusinessflows","fetchXml":"<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\" >\n  <entity name=\"leidos_enquirybusinessflow\" >\n    <attribute name=\"businessprocessflowinstanceid\" />\n    <attribute name=\"bpf_name\" />\n    <attribute name=\"bpf_leidos_enquiryid\" />\n    <attribute name=\"activestageid\" />\n    <attribute name=\"statecode\" />\n    <attribute name=\"processid\" />\n    <attribute name=\"activestagestartedon\" />\n    <order attribute=\"bpf_name\" descending=\"false\" />\n    <filter type=\"and\" >\n      <filter type=\"and\" >\n        <condition attribute=\"statuscode\" operator=\"neq\" value=\"2\" />\n        <condition attribute=\"activestagestartedon\" operator=\"olderthan-x-days\" value=\"1\" />\n        <filter type=\"or\" >\n          <condition attribute=\"activestageid\" operator=\"eq\" value=\"d794c76f-0b4f-41a7-98d0-bcdad3519de7\" />\n          <condition attribute=\"activestageid\" operator=\"eq\" value=\"d1fe7460-ee05-417e-9265-d1625baee865\" />\n        </filter>\n      </filter>\n    </filter>\n  </entity>\n</fetch>"},"authentication":"@parameters('$authentication')"}},"Loop_Thru_Open,_Final_Stage_BPF":{"foreach":"@outputs('List_Open_Enquiry_BPF_in_Final_Stage')?['body/value']","actions":{"Close_Enquiry_BPF":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_enquirybusinessflows","recordId":"@items('Loop_Thru_Open,_Final_Stage_BPF')?['businessprocessflowinstanceid']","item/statecode":1,"item/statuscode":2},"authentication":"@parameters('$authentication')"}}},"runAfter":{"List_Open_Enquiry_BPF_in_Final_Stage":["Succeeded"]},"type":"Foreach"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}