HIECDS/Workflows/EnquiryBPF-Flow-OnchangeofStage-78772256-5B47-EA11-A812-000D3A0BAD17.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Enquiry_BPF_-_Create_or_update":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":4,"subscriptionRequest/entityname":"leidos_enquirybusinessflow","subscriptionRequest/scope":4},"authentication":"@parameters('$authentication')"}}},"actions":{"Switch":{"runAfter":{"Get_Enquiry_Record":["Succeeded"]},"cases":{"Process_Enquiry":{"case":"47b6dcd3-1eb0-436d-90db-ff28557b2084","actions":{"Enquiry_to_In_Progress":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_enquiries","recordId":"@outputs('Get_Enquiry_Record')?['body/leidos_enquiryid']","item/statecode":0,"item/statuscode":445260000},"authentication":"@parameters('$authentication')"}}}},"Triage":{"case":"8f40dc10-d9e5-4df3-baeb-888032fd9ed8","actions":{"Enquiry_-_Awaiting_information":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_enquiries","recordId":"@outputs('Get_Enquiry_Record')?['body/leidos_enquiryid']","item/statecode":0,"item/statuscode":445260001},"authentication":"@parameters('$authentication')"}}}},"Existing_Account_Processed":{"case":"d794c76f-0b4f-41a7-98d0-bcdad3519de7","actions":{"BPF_Is_Complete_Existing_Account":{"actions":{"Update_a_record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_enquiries","recordId":"@outputs('Get_Enquiry_Record')?['body/leidos_enquiryid']","item/statecode":1,"item/statuscode":2},"authentication":"@parameters('$authentication')"}},"Set_Company_in_the_Contact_Record":{"runAfter":{"Update_a_record":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"contacts","recordId":"@outputs('Get_Enquiry_Record')?['body/_leidos_contact_value']","item/parentcustomerid_account@odata.bind":"/accounts(@{outputs('Get_Enquiry_Record')?['body/_leidos_account_value']})"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"expression":{"equals":["@triggerOutputs()?['body/statuscode']",2]},"type":"If"}}},"New_Account_Progressed":{"case":"d1fe7460-ee05-417e-9265-d1625baee865","actions":{"BPF_is_Finished":{"actions":{"Close_Enquiry_as_Progressed_New_Account":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_enquiries","recordId":"@outputs('Get_Enquiry_Record')?['body/leidos_enquiryid']","item/statecode":1,"item/statuscode":2},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"else":{"actions":{"Update_Enquiry_to_set_Relevant_Team_as_Owner":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_enquiries","recordId":"@outputs('Get_Enquiry_Record')?['body/leidos_enquiryid']","item/ownerid@odata.bind":"/teams(@{outputs('Get_Enquiry_Record')?['body/_leidos_relevantteam_value']})"},"authentication":"@parameters('$authentication')"}}}},"expression":{"equals":["@triggerOutputs()?['body/statuscode']",2]},"type":"If"}}}},"default":{"actions":{}},"expression":"@triggerOutputs()?['body/_activestageid_value']","type":"Switch"},"Get_Enquiry_Record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_enquiries","recordId":"@triggerOutputs()?['body/_bpf_leidos_enquiryid_value']"},"authentication":"@parameters('$authentication')"}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}