HIECDS/Workflows/EnquiryonCreateEnquiry-F64F33C2-9237-EA11-A813-000D3A0BA110.json
{"properties":{"connectionReferences":{"shared_commondataservice":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataservice"}},"shared_sendmail":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_sendmail"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_record_is_created":{"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SubscribeOnNewItems"}},"type":"ApiConnectionWebhook","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"}},"body":{"NotificationUrl":"@{listCallbackUrl()}"},"path":"/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('leidos_enquiries'))}/onnewitemswebhook","queries":{"scope":"Organization"},"authentication":"@parameters('$authentication')"}}},"actions":{"Set_team_Ownership_Path":{"actions":{"Update_a_record":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PatchItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"}},"method":"patch","body":{"_ownerid_value":"41BBB90B-EF36-EA11-A813-000D3A0BAD7C","_ownerid_type":"teams"},"path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('leidos_enquiries'))}/items/@{encodeURIComponent(encodeURIComponent(triggerBody()?['leidos_enquiryid']))}","authentication":"@parameters('$authentication')"}}},"runAfter":{},"expression":{"equals":["@triggerBody()?['leidos_forwardtoenquiryteam']",true]},"type":"If"},"Send_Email_Path":{"actions":{"Send_an_email_notification_(V3)":{"runAfter":{},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_sendmail']['connectionId']"}},"method":"post","body":{"to":"@{triggerBody()?['leidos_emailaddress']};","subject":"Highland and Islands Enterprise - Enquiry recieved","text":"<p>Confrimation that your enquirey has been recived and will be actioned. &nbsp;The Refernce Number to quote is @{triggerBody()?['leidos_referencenumber']}.<br>\n<br>\nWe will endevour to action this within 5 workling days.</p>","ishtml":true},"path":"/v3/mail/send","authentication":"@parameters('$authentication')"}}},"runAfter":{},"expression":{"not":{"equals":["@triggerBody()?['leidos_emailaddress']","@null"]}},"type":"If"}}}},"schemaVersion":"1.0.0.0"}