HIECDS/Workflows/Enquiry-Flow-CreateorPopulateContactbasedonEmail-2D70F9B6-2B3C-EA11-A812-000D3A0BAD17.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"On_Create_or_Update_Email_Address":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":4,"subscriptionRequest/entityname":"leidos_enquiry","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"leidos_emailaddress"},"authentication":"@parameters('$authentication')"}}},"actions":{"Is_Email_Populated_and_Contact_not_populated":{"actions":{"CountofRows":{"runAfter":{"List_of_Contacts_with_Email_Address":["Succeeded"]},"type":"Compose","inputs":"@length(outputs('List_of_Contacts_with_Email_Address')?['body/value'])"},"Branch_based_on_Number_of_records":{"runAfter":{"CountofRows":["Succeeded"]},"cases":{"No_Records,_create_Contact_and_Allocate":{"case":0,"actions":{"Create_a_new_Contact_Record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"contacts","item/lastname":"@triggerOutputs()?['body/leidos_lastname']","item/telephone1":"@triggerOutputs()?['body/leidos_telephonenumber']","item/emailaddress1":"@triggerOutputs()?['body/leidos_emailaddress']","item/firstname":"@triggerOutputs()?['body/leidos_firstname']"},"authentication":"@parameters('$authentication')"}},"Update_Enquiry_with_Contact_Lookup":{"runAfter":{"Create_a_new_Contact_Record":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_enquiries","recordId":"@triggerOutputs()?['body/leidos_enquiryid']","item/leidos_Contact@odata.bind":"/contacts(@{outputs('Create_a_new_Contact_Record')?['body/contactid']})"},"authentication":"@parameters('$authentication')"}}}},"One_Record_Associate_Contact":{"case":1,"actions":{"Apply_to_each":{"foreach":"@outputs('List_of_Contacts_with_Email_Address')?['body/value']","actions":{"Add_Contact_Lookup_to_Enquiry":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_enquiries","recordId":"@triggerOutputs()?['body/leidos_enquiryid']","item/leidos_Contact@odata.bind":"/contatcs(@{items('Apply_to_each')?['contactid']})"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"type":"Foreach"}}}},"default":{"actions":{}},"expression":"@outputs('CountofRows')","type":"Switch"},"List_of_Contacts_with_Email_Address":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"contacts","$filter":"emailaddress1 eq '@{triggerOutputs()?['body/leidos_emailaddress']}'"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"expression":{"and":[{"not":{"equals":["@triggerOutputs()?['body/leidos_emailaddress']","@null"]}},{"equals":["@triggerOutputs()?['body/_leidos_contact_value']","@null"]}]},"type":"If"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}