HIECDS/Workflows/EnquiryBPF-Createorupdate-EnquiryRecord-78772256-5B47-EA11-A812-000D3A0BAD17.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Enquiry_BPF_-_Create_or_update":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":4,"subscriptionRequest/entityname":"leidos_enquirybusinessflow","subscriptionRequest/scope":4},"authentication":"@parameters('$authentication')"}}},"actions":{"Switch":{"runAfter":{"Get_Enquiry_Record":["Succeeded"]},"cases":{"Complete_Stage":{"case":"d1fe7460-ee05-417e-9265-d1625baee865","actions":{"BPF_is_Finished":{"actions":{"Close_Enquiry_as_Progressed_2":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_enquiries","recordId":"@outputs('Get_Enquiry_Record')?['body/leidos_enquiryid']","item/statecode":1,"item/statuscode":2},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"else":{"actions":{"Close_Enquiry_as_Progressed":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_enquiries","recordId":"@outputs('Get_Enquiry_Record')?['body/leidos_enquiryid']","item/statecode":1,"item/statuscode":2},"authentication":"@parameters('$authentication')"}},"Close_BPF":{"runAfter":{"Close_Enquiry_as_Progressed":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_enquirybusinessflows","recordId":"@triggerOutputs()?['body/businessprocessflowinstanceid']","item/statecode":1,"item/statuscode":2},"authentication":"@parameters('$authentication')"}}}},"expression":{"equals":["@triggerOutputs()?['body/statuscode']",2]},"type":"If"}}},"Process_Enquiry":{"case":"47b6dcd3-1eb0-436d-90db-ff28557b2084","actions":{"Enquiry_to_In_Progress":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_enquiries","recordId":"@outputs('Get_Enquiry_Record')?['body/leidos_enquiryid']","item/statecode":0,"item/statuscode":445260000},"authentication":"@parameters('$authentication')"}}}},"Route_to_team":{"case":"4834109a-38b7-4d6a-bbfb-bd8593eac8af","actions":{"Enquiry_-_Awaiting_Infromation":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_enquiries","recordId":"@outputs('Get_Enquiry_Record')?['body/leidos_enquiryid']","item/statecode":0,"item/statuscode":445260001},"authentication":"@parameters('$authentication')"}},"Set_Company_in_the_Contact_Record":{"runAfter":{"Enquiry_-_Awaiting_Infromation":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"contacts","recordId":"@outputs('Get_Enquiry_Record')?['body/_leidos_contact_value']","item/parentcustomerid_account@odata.bind":"/accounts(@{outputs('Get_Enquiry_Record')?['body/_leidos_account_value']})"},"authentication":"@parameters('$authentication')"}}}}},"default":{"actions":{}},"expression":"@triggerOutputs()?['body/_activestageid_value']","type":"Switch"},"Get_Enquiry_Record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_enquiries","recordId":"@triggerOutputs()?['body/_bpf_leidos_enquiryid_value']"},"authentication":"@parameters('$authentication')"}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}