HIECDS/Workflows/EnquiryBPF-Flow-OnchangeofStage-78772256-5B47-EA11-A812-000D3A0BAD17.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Enquiry_BPF_-_Create_or_update":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":4,"subscriptionRequest/entityname":"leidos_enquirybusinessflow","subscriptionRequest/scope":4},"authentication":"@parameters('$authentication')"}}},"actions":{"Switch":{"runAfter":{"Get_Enquiry_Record":["Succeeded"]},"cases":{"Process_Enquiry":{"case":"47b6dcd3-1eb0-436d-90db-ff28557b2084","actions":{"Enquiry_to_In_Progress":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_enquiries","recordId":"@outputs('Get_Enquiry_Record')?['body/leidos_enquiryid']","item/statecode":0,"item/statuscode":445260000},"authentication":"@parameters('$authentication')"}}}},"Triage":{"case":"8f40dc10-d9e5-4df3-baeb-888032fd9ed8","actions":{"Enquiry_-_Awaiting_information":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_enquiries","recordId":"@outputs('Get_Enquiry_Record')?['body/leidos_enquiryid']","item/statecode":0,"item/statuscode":445260001},"authentication":"@parameters('$authentication')"}},"Set_Company_in_the_Contact_Record":{"runAfter":{"Enquiry_-_Awaiting_information":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"contacts","recordId":"@outputs('Get_Enquiry_Record')?['body/_leidos_contact_value']","item/parentcustomerid_account@odata.bind":"/accounts(@{outputs('Get_Enquiry_Record')?['body/_leidos_account_value']})"},"authentication":"@parameters('$authentication')"}}}},"Existing_Account_Route_to_team":{"case":"70e01e2d-3c88-4c15-b235-31bc0fe0dca1","actions":{}},"Existing_Account_Processed":{"case":"d794c76f-0b4f-41a7-98d0-bcdad3519de7","actions":{"BPF_Is_Complete_Existing_Account":{"actions":{"Update_a_record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_enquiries","recordId":"@outputs('Get_Enquiry_Record')?['body/leidos_enquiryid']","item/statecode":1,"item/statuscode":2},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"expression":{"equals":["@triggerOutputs()?['body/statuscode']",2]},"type":"If"}}},"New_Account_Route_to_team":{"case":"4834109a-38b7-4d6a-bbfb-bd8593eac8af","actions":{}},"New_Account_Progressed":{"case":"d1fe7460-ee05-417e-9265-d1625baee865","actions":{"BPF_is_Finished":{"actions":{"Check_for_Ownership_Type":{"actions":{"Set_the_Account_Owner_to_the_Relevant_Person_":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","recordId":"@outputs('Get_Enquiry_Record')?['body/_leidos_account_value']","item/ownerid@odata.bind":"/systemusers(@{outputs('Get_Enquiry_Record')?['body/_leidos_relevantperson_value']})","item/leidos_farminghorticulture":"@outputs('Get_Enquiry_Record')?['body/leidos_farminghorticulture']","item/leidos_fisheries":"@outputs('Get_Enquiry_Record')?['body/leidos_fisheries']","item/leidos_roadfreighttransport":"@outputs('Get_Enquiry_Record')?['body/leidos_roadfreighttransport']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"else":{"actions":{"Set_the_Account_Owner_to_the_Relevant_Team":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","recordId":"@outputs('Get_Enquiry_Record')?['body/_leidos_account_value']","item/ownerid@odata.bind":"/teams(@{outputs('Get_Enquiry_Record')?['body/_leidos_relevantteam_value']})","item/leidos_farminghorticulture":"@outputs('Get_Enquiry_Record')?['body/leidos_farminghorticulture']","item/leidos_fisheries":"@outputs('Get_Enquiry_Record')?['body/leidos_fisheries']","item/leidos_roadfreighttransport":"@outputs('Get_Enquiry_Record')?['body/leidos_roadfreighttransport']"},"authentication":"@parameters('$authentication')"}}}},"expression":{"equals":["@outputs('Get_Enquiry_Record')?['body/leidos_relevantpersonorteam']",true]},"type":"If"},"Close_Enquiry_as_Progressed_New_Account":{"runAfter":{"Check_for_Ownership_Type":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_enquiries","recordId":"@outputs('Get_Enquiry_Record')?['body/leidos_enquiryid']","item/statecode":1,"item/statuscode":2},"authentication":"@parameters('$authentication')"}},"Copy_Triage_Data_to_Acccount":{"runAfter":{"Close_Enquiry_as_Progressed_New_Account":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"PerformBoundAction","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_enquiries","actionName":"Microsoft.Dynamics.CRM.leidos_CopyTriageDatatoAccount","recordId":"@outputs('Get_Enquiry_Record')?['body/leidos_enquiryid']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"expression":{"equals":["@triggerOutputs()?['body/statuscode']",2]},"type":"If"}}}},"default":{"actions":{}},"expression":"@triggerOutputs()?['body/_activestageid_value']","type":"Switch"},"Get_Enquiry_Record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_enquiries","recordId":"@triggerOutputs()?['body/_bpf_leidos_enquiryid_value']"},"authentication":"@parameters('$authentication')"}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}