HIECDS/Workflows/Enquiry-Flow-AlertonReassign-773725F2-4F3C-EA11-A812-000D3A0BA151.json
{"properties":{"connectionReferences":{"shared_commondataservice":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataservice"}},"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}},"shared_sendmail":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_sendmail"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Enquiry_-_On_Assign":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":3,"subscriptionRequest/entityname":"leidos_enquiry","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"ownerid"},"authentication":"@parameters('$authentication')"}}},"actions":{"Condition":{"actions":{"Check_for_Primary_Contact":{"actions":{"List_team_Members":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice","operationId":"GetItems_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"default.cds","table":"teammemberships","$filter":"teamid eq '@{outputs('Team_Record')?['body/teamid']}'"},"authentication":"@parameters('$authentication')"}},"Parse_JSON":{"runAfter":{"List_team_Members":["Succeeded"]},"type":"ParseJson","inputs":{"content":"@outputs('List_team_Members')?['body/value']","schema":{"type":"array","items":{"type":"object","properties":{"@@odata.id":{"type":"string"},"@@odata.etag":{"type":"string"},"ItemInternalId":{"type":"string"},"systemuserid":{"type":"string"},"versionnumber":{"type":"integer"},"teammembershipid":{"type":"string"},"teamid":{"type":"string"}},"required":["@@odata.id","@@odata.etag","ItemInternalId","systemuserid","versionnumber","teammembershipid","teamid"]}}}},"Apply_to_each":{"foreach":"@body('Parse_JSON')","actions":{"Get_User_Record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice","operationId":"GetItem_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"default.cds","table":"systemusers","id":"@items('Apply_to_each')['systemuserid']"},"authentication":"@parameters('$authentication')"}},"Append_to_string_variable":{"runAfter":{"Get_User_Record":["Succeeded"]},"type":"AppendToStringVariable","inputs":{"name":"Email Addresses","value":"@{outputs('Get_User_Record')?['body/internalemailaddress']};"}}},"runAfter":{"Parse_JSON":["Succeeded"]},"type":"Foreach"},"Email_Address_String":{"runAfter":{"Apply_to_each":["Succeeded"]},"type":"Compose","inputs":"@variables('Email Addresses')"}},"runAfter":{"Team_Record":["Succeeded"]},"else":{"actions":{"Primary_Contact_Email_Address":{"runAfter":{"Get_Team_Primary_Contact":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Email Addresses","value":"@outputs('Get_Team_Primary_Contact')?['body/internalemailaddress']"}},"Get_Team_Primary_Contact":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@outputs('Team_Record')?['body/_leidos_teamprimarycontact_value']"},"authentication":"@parameters('$authentication')"}}}},"expression":{"equals":["@outputs('Team_Record')?['body/_leidos_teamprimarycontact_value']","@null"]},"type":"If"},"Team_Record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"teams","recordId":"@outputs('OwnerID')"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"OwnerID":["Succeeded"]},"else":{"actions":{"Single_Owner_Email_Address":{"runAfter":{"Owning_User_Record":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Email Addresses","value":"@outputs('Owning_User_Record')?['body/internalemailaddress']"}},"Owning_User_Record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@outputs('OwnerID')"},"authentication":"@parameters('$authentication')"}}}},"expression":{"equals":["@outputs('Owner_Type')","team"]},"type":"If"},"Owner_Type":{"runAfter":{"Email_Address_":["Succeeded"]},"type":"Compose","inputs":"@outputs('Enquiry_Record')?['body/_ownerid_value@Microsoft.Dynamics.CRM.lookuplogicalname']"},"Email_Address_":{"runAfter":{"Enquiry_Record":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Email Addresses","type":"String","value":"@{null}"}]}},"Enquiry_Record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_enquiries","recordId":"@triggerOutputs()?['body/leidos_enquiryid']"},"authentication":"@parameters('$authentication')"}},"OwnerID":{"runAfter":{"Owner_Type":["Succeeded"]},"type":"Compose","inputs":"@outputs('Enquiry_Record')?['body/_ownerid_value']"},"Send_an_email_notification_(V3)":{"runAfter":{"Condition":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sendmail","operationId":"SendEmailV3","apiId":"/providers/Microsoft.PowerApps/apis/shared_sendmail"},"parameters":{"request/to":"@{variables('Email Addresses')};","request/subject":"The Enquiry @{outputs('Enquiry_Record')?['body/leidos_referencenumber']}  has been Assigned","request/text":"<p>An Enquiry has been Assigned, please check the Enquiry Dashboards and Action or reassign<br>\n<br>\n</p>"},"authentication":"@parameters('$authentication')"}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}