HIECDS/Workflows/Enquiry-OnBPFChangeofStage-A3175653-8638-EA11-A813-000D3A0BA99A.json
{"properties":{"connectionReferences":{"shared_commondataservice":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataservice"}},"shared_commondataservice_1":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataservice"}},"shared_approvals":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_approvals"}},"shared_sendmail":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_sendmail"}},"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_the_Enquiry_BPF_is_updated":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":4,"subscriptionRequest/entityname":"leidos_enquirybusinessflow","subscriptionRequest/scope":4},"authentication":"@parameters('$authentication')"}}},"actions":{"Get_the_Enquiry_Record":{"runAfter":{"BPF_Status_Reason":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice","operationId":"GetItem_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"default.cds","table":"leidos_enquiries","id":"@outputs('Enquiry_Record')"},"authentication":"@parameters('$authentication')"}},"Stage_value":{"runAfter":{},"type":"Compose","inputs":"@triggerOutputs()?['body/_activestageid_value']"},"Enquiry_Record":{"runAfter":{"Stage_value":["Succeeded"]},"type":"Compose","inputs":"@triggerOutputs()?['body/_bpf_leidos_enquiryid_value']"},"Switch":{"runAfter":{"Get_the_Enquiry_Record":["Succeeded"]},"cases":{"ISA_Stage":{"case":"e68795e6-5bdc-4891-8c2a-dfcc45dcc795","actions":{"Check_BPF_Status_Reason_==_Finished":{"actions":{"Submit_ISA_for_Approval":{"actions":{"Get_Delegated_Authority_Record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice_1","operationId":"GetItem_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"default.cds","table":"systemusers","id":"@outputs('Get_the_Enquiry_Record')?['body/_leidos_delegatedauthority_value']"},"authentication":"@parameters('$authentication')"}},"Create_an_approval":{"runAfter":{"Get_Delegated_Authority_Record":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_approvals","operationId":"CreateAnApproval","apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals"},"parameters":{"approvalType":"Basic","ApprovalCreationInput/title":"An ISA Approval has been requested for @{outputs('Get_the_Enquiry_Record')?['body/leidos_referencenumber']}","ApprovalCreationInput/assignedTo":"@outputs('Get_Delegated_Authority_Record')?['body/internalemailaddress']","ApprovalCreationInput/details":"@outputs('Get_the_Enquiry_Record')?['body/leidos_summaryofdiscussions']","ApprovalCreationInput/itemLink":"@outputs('Get_the_Enquiry_Record')?['body/leidos_enquiryid']","ApprovalCreationInput/itemLinkDescription":"Enquiry for Approval","ApprovalCreationInput/enableNotifications":true,"ApprovalCreationInput/enableReassignment":true},"authentication":"@parameters('$authentication')"}},"Wait_for_an_approval":{"runAfter":{"Create_an_approval":["Succeeded"]},"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_approvals","operationId":"WaitForAnApproval","apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals"},"parameters":{"approvalName":"@outputs('Create_an_approval')?['body/name']"},"authentication":"@parameters('$authentication')"}},"Result_of_Approval":{"runAfter":{"Wait_for_an_approval":["Succeeded"]},"type":"Compose","inputs":"@outputs('Wait_for_an_approval')?['body/outcome']"},"Set_Status_Based_on_Outcome":{"actions":{"On_Approval,_set_the_Enquiry_to_Closed_as_Progressed":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice","operationId":"PatchItem_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"default.cds","table":"leidos_enquiries","id":"@outputs('Get_the_Enquiry_Record')?['body/leidos_enquiryid']","item/statuscode":2,"item/statecode":1,"item/_ownerid_type":""},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Result_of_Approval":["Succeeded"]},"else":{"actions":{"On_Rejected;_set_Enquiry_to_Cancelled":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice","operationId":"PatchItem_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"default.cds","table":"leidos_enquiries","id":"@outputs('Get_the_Enquiry_Record')?['body/leidos_enquiryid']","item/statuscode":445260004,"item/statecode":1,"item/_ownerid_type":""},"authentication":"@parameters('$authentication')"}}}},"expression":{"equals":["@outputs('Wait_for_an_approval')?['body/outcome']","Approve"]},"type":"If"},"TypeofOwner":{"runAfter":{"Result_of_Approval":["Succeeded"]},"type":"Compose","inputs":"@outputs('Get_the_Enquiry_Record')?['body/_ownerid_type']"},"Condition":{"actions":{},"runAfter":{"TypeofOwner":["Succeeded"]},"else":{"actions":{"Get_Enquiry_Owner_Record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice","operationId":"GetItem_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"default.cds","table":"systemusers","id":"@outputs('Get_the_Enquiry_Record')?['body/_ownerid_value']"},"authentication":"@parameters('$authentication')"}},"Apply_to_each":{"foreach":"@outputs('Wait_for_an_approval')?['body/responses']","actions":{"Send_an_email_notification_to_Enquiry_Owner":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sendmail","operationId":"SendEmailV3","apiId":"/providers/Microsoft.PowerApps/apis/shared_sendmail"},"parameters":{"request/to":"@{outputs('Get_Enquiry_Owner_Record')?['body/internalemailaddress']};","request/subject":"ISA Approcal has been returned as @{outputs('Result_of_Approval')}","request/text":"<p>Notes: @{items('Apply_to_each')?['comments']}</p>"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Get_Enquiry_Owner_Record":["Succeeded"]},"type":"Foreach"}}},"expression":{"equals":["@outputs('TypeofOwner')","teams"]},"type":"If"}},"runAfter":{},"expression":{"equals":["@outputs('Get_the_Enquiry_Record')?['body/leidos_submitisaforapproval']",true]},"type":"If"}},"runAfter":{},"expression":{"equals":["@outputs('BPF_Status_Reason')",2]},"type":"If"}}},"Account_Management":{"case":"f913c53a-8c5c-46ab-bd38-d0047ef2ab28","actions":{"Update_Enquiry_to_Closed_-_Progressed":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice","operationId":"PatchItem_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"default.cds","table":"leidos_enquiries","id":"@outputs('Enquiry_Record')","item/statuscode":2,"item/statecode":1,"item/_ownerid_type":""},"authentication":"@parameters('$authentication')"}}}},"Process_Enquiry":{"case":"47b6dcd3-1eb0-436d-90db-ff28557b2084","actions":{"Set_Enquiry_to_In_Progress":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice","operationId":"PatchItem_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"default.cds","table":"leidos_enquiries","id":"@outputs('Enquiry_Record')","item/statuscode":445260000,"item/statecode":0,"item/_ownerid_type":""},"authentication":"@parameters('$authentication')"}}}},"Route_to_team":{"case":"a46a38c1-b594-48f3-a694-52c969b2bac8","actions":{"Set_Enquiry_to_Awaiting_Information":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice","operationId":"PatchItem_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"default.cds","table":"leidos_enquiries","id":"@outputs('Enquiry_Record')","item/statuscode":445260001,"item/statecode":0,"item/_ownerid_type":""},"authentication":"@parameters('$authentication')"}},"Set_the_Company_in_the_Contact_Record":{"runAfter":{"Set_Enquiry_to_Awaiting_Information":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice_1","operationId":"PatchItem_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"default.cds","table":"contacts","id":"@outputs('Get_the_Enquiry_Record')?['body/_leidos_contact_value']","item/adx_organizationname":"@outputs('Get_the_Enquiry_Record')?['body/_leidos_account_value']","item/_parentcustomerid_type":"","item/_ownerid_type":""},"authentication":"@parameters('$authentication')"}}}}},"default":{"actions":{}},"expression":"@outputs('Stage_value')","type":"Switch"},"BPF_Status_Reason":{"runAfter":{"Enquiry_Record":["Succeeded"]},"type":"Compose","inputs":"@triggerOutputs()?['body/statuscode']"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}