HIECDS/Workflows/Flow-Enquiry-OnBPFChangeofStage-A3175653-8638-EA11-A813-000D3A0BA99A.json
{"properties":{"connectionReferences":{"shared_commondataservice":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataservice"}},"shared_commondataservice_1":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataservice"}},"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_the_Enquiry_BPF_is_updated":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":4,"subscriptionRequest/entityname":"leidos_enquirybusinessflow","subscriptionRequest/scope":4},"authentication":"@parameters('$authentication')"}}},"actions":{"Get_the_Enquiry_Record":{"runAfter":{"BPF_Status_Reason":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice","operationId":"GetItem_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"default.cds","table":"leidos_enquiries","id":"@outputs('Enquiry_Record')"},"authentication":"@parameters('$authentication')"}},"Stage_value":{"runAfter":{},"type":"Compose","inputs":"@triggerOutputs()?['body/_activestageid_value']"},"Enquiry_Record":{"runAfter":{"Stage_value":["Succeeded"]},"type":"Compose","inputs":"@triggerOutputs()?['body/_bpf_leidos_enquiryid_value']"},"Switch":{"runAfter":{"Get_the_Enquiry_Record":["Succeeded"]},"cases":{"Complete_Stage_-_Main_Flow":{"case":"d1fe7460-ee05-417e-9265-d1625baee865","actions":{"Check_BPF_Status_Reason_==_Finished":{"actions":{},"runAfter":{},"else":{"actions":{"Close_Enquiry_as_Completed":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice","operationId":"PatchItem_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"default.cds","table":"leidos_enquiries","id":"@outputs('Enquiry_Record')","item/statuscode":2,"item/statecode":1,"item/_ownerid_type":""},"authentication":"@parameters('$authentication')"}},"Finish_the_BPF":{"runAfter":{"Close_Enquiry_as_Completed":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice","operationId":"PatchItem_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"default.cds","table":"leidos_enquirybusinessflows","id":"@triggerOutputs()?['body/businessprocessflowinstanceid']","item/statuscode":2,"item/statecode":1},"authentication":"@parameters('$authentication')"}}}},"expression":{"equals":["@outputs('BPF_Status_Reason')",2]},"type":"If"}}},"Process_Enquiry":{"case":"47b6dcd3-1eb0-436d-90db-ff28557b2084","actions":{"Set_Enquiry_to_In_Progress":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice","operationId":"PatchItem_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"default.cds","table":"leidos_enquiries","id":"@outputs('Enquiry_Record')","item/statuscode":445260000,"item/statecode":0,"item/_ownerid_type":""},"authentication":"@parameters('$authentication')"}}}},"Route_to_team":{"case":"4834109a-38b7-4d6a-bbfb-bd8593eac8af","actions":{"Set_Enquiry_to_Awaiting_Information":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice","operationId":"PatchItem_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"default.cds","table":"leidos_enquiries","id":"@outputs('Enquiry_Record')","item/statuscode":445260001,"item/statecode":0,"item/_ownerid_type":""},"authentication":"@parameters('$authentication')"}},"Set_the_Company_in_the_Contact_Record":{"runAfter":{"Set_Enquiry_to_Awaiting_Information":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice_1","operationId":"PatchItem_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"default.cds","table":"contacts","id":"@outputs('Get_the_Enquiry_Record')?['body/_leidos_contact_value']","item/_parentcustomerid_value":"@outputs('Get_the_Enquiry_Record')?['body/_leidos_account_value']","item/_parentcustomerid_type":"accounts","item/_ownerid_type":""},"authentication":"@parameters('$authentication')"}}}}},"default":{"actions":{}},"expression":"@outputs('Stage_value')","type":"Switch"},"BPF_Status_Reason":{"runAfter":{"Enquiry_Record":["Succeeded"]},"type":"Compose","inputs":"@triggerOutputs()?['body/statuscode']"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}