HIECDS/Workflows/Flow-Enquiry-onCreateEnquiry-F64F33C2-9237-EA11-A813-000D3A0BA110.json
{"properties":{"connectionReferences":{"shared_commondataservice_1":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataservice"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_record_is_created":{"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SubscribeOnNewItems"}},"type":"ApiConnectionWebhook","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice_1']['connectionId']"}},"body":{"NotificationUrl":"@{listCallbackUrl()}"},"path":"/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('leidos_enquiries'))}/onnewitemswebhook","queries":{"scope":"Organization"},"authentication":"@parameters('$authentication')"}}},"actions":{"Set_team_Ownership_Path":{"actions":{"Update_a_record":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PatchItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice_1']['connectionId']"}},"method":"patch","body":{"_ownerid_value":"4077D59C-7938-EA11-A813-000D3A0BA151","_ownerid_type":"teams"},"path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('leidos_enquiries'))}/items/@{encodeURIComponent(encodeURIComponent(triggerBody()?['leidos_enquiryid']))}","authentication":"@parameters('$authentication')"}}},"runAfter":{"Get_Current_Enquiry_BPF":["Succeeded"]},"expression":{"equals":["@triggerBody()?['leidos_forwardtoenquiryteam']",true]},"type":"If"},"Send_Email_Path":{"actions":{"Create_Dynamics_Email_Record":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PostItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice_1']['connectionId']"}},"method":"post","body":{"compressed":false,"isemailfollowed":false,"isregularactivity":false,"isemailreminderset":false,"_emailsender_type":"","deliveryreceiptrequested":false,"description":"@{triggerBody()?['leidos_firstname']}\n\nConfrimation that your enquiry has been recieved and will be actioned.  The Reference Number to quote is @{triggerBody()?['leidos_referencenumber']}.\n\nWe will endevour to action this within 5 workling days.","directioncode":true,"followemailuserpreference":false,"isbilled":false,"isworkflowcreated":false,"readreceiptrequested":false,"subject":"Enquiry Reference  @{triggerBody()?['leidos_referencenumber']}has been received","torecipients":"@triggerBody()?['leidos_emailaddress']","_ownerid_type":"","_regardingobjectid_value":"@triggerBody()?['leidos_enquiryid']","_regardingobjectid_type":"leidos_enquiries"},"path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('emails'))}/items","authentication":"@parameters('$authentication')"}}},"runAfter":{"Get_Current_Enquiry_BPF":["Succeeded"]},"else":{"actions":{"Create_a_new_record":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PostItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice_1']['connectionId']"}},"method":"post","body":{"subject":"New Enquiry has been Created - @{triggerBody()?['leidos_name']}","description":"A new Enquiry was created on @{formatDateTime(triggerBody()?['createdon'],'dd-MMMM-yyyy')} with no Email, plase initiate contact","scheduledend":"@{if(equals(dayOfWeek(addDays(triggerBody()?['createdon'],2)),6),\r\n\t\taddDays(triggerBody()?['createdon'],3), \r\n\t\tif(equals(dayOfWeek(addDays(triggerBody()?['createdon'],2)),0),\r\n\t\t\taddDays(triggerBody()?['createdon'],4),\r\n\t\t\taddDays(triggerBody()?['createdon'],2)\r\n\t\t)\r\n\t)}","prioritycode":2,"_ownerid_value":"4077D59C-7938-EA11-A813-000D3A0BA151","_ownerid_type":"teams","_regardingobjectid_value":"@triggerBody()?['leidos_enquiryid']","_regardingobjectid_type":"leidos_enquiries","isregularactivity":false,"isbilled":false,"isworkflowcreated":false},"path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('tasks'))}/items","authentication":"@parameters('$authentication')"}}}},"expression":{"not":{"equals":["@triggerBody()?['leidos_emailaddress']","@null"]}},"type":"If"},"From_Customer_Portal":{"actions":{"Get_Contact":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice_1']['connectionId']"}},"method":"get","path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('contacts'))}/items/@{encodeURIComponent(encodeURIComponent(triggerBody()?['_leidos_contact_value']))}","authentication":"@parameters('$authentication')"}},"Get_Account":{"runAfter":{"Get_Contact":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice_1']['connectionId']"}},"method":"get","path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('accounts'))}/items/@{encodeURIComponent(encodeURIComponent(body('Get_Contact')?['_parentcustomerid_value']))}","authentication":"@parameters('$authentication')"}},"Get_the_BPF_For_this_Instance,_will_be_unique":{"foreach":"@body('Get_Current_Enquiry_BPF')?['value']","actions":{"Get_Enquiry_BPF":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice_1']['connectionId']"}},"method":"get","path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('leidos_enquirybusinessflows'))}/items/@{encodeURIComponent(encodeURIComponent(items('Get_the_BPF_For_this_Instance,_will_be_unique')?['businessprocessflowinstanceid']))}","authentication":"@parameters('$authentication')"}},"Update_BPF_Stage":{"runAfter":{"Get_Enquiry_BPF":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PatchItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice_1']['connectionId']"}},"method":"patch","body":{"_activestageid_value":"47b6dcd3-1eb0-436d-90db-ff28557b2084"},"path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('leidos_enquirybusinessflows'))}/items/@{encodeURIComponent(encodeURIComponent(body('Get_Enquiry_BPF')?['businessprocessflowinstanceid']))}","authentication":"@parameters('$authentication')"}}},"runAfter":{"Update_Enquiry_with_Account":["Succeeded"]},"type":"Foreach"},"Update_Enquiry_with_Account":{"runAfter":{"Get_Account":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PatchItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice_1']['connectionId']"}},"method":"patch","body":{"_leidos_account_value":"@body('Get_Account')?['accountid']","_ownerid_type":""},"path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('leidos_enquiries'))}/items/@{encodeURIComponent(encodeURIComponent(triggerBody()?['leidos_enquiryid']))}","authentication":"@parameters('$authentication')"}}},"runAfter":{"Get_Current_Enquiry_BPF":["Succeeded"]},"expression":{"equals":["@triggerBody()?['leidos_enquirysource']",445260001]},"type":"If"},"SEP":{"actions":{},"runAfter":{"Get_Current_Enquiry_BPF":["Succeeded"]},"expression":{"equals":["@triggerBody()?['leidos_enquirysource']",445260000]},"type":"If"},"Get_Current_Enquiry_BPF":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItems_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice_1']['connectionId']"}},"method":"get","path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('leidos_enquirybusinessflows'))}/items","queries":{"$filter":"_bpf_leidos_enquiryid_value eq '@{triggerBody()?['leidos_enquiryid']}'","$top":1},"authentication":"@parameters('$authentication')"}}}}},"schemaVersion":"1.0.0.0"}