HIECDS/Workflows/Flow-Enquiry-OnChangeofSuitableforAccountManagemen-5F3AE00F-653B-EA11-A812-000D3A0BAD17.json
{"properties":{"connectionReferences":{"shared_commondataservice":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataservice"}},"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Flow_-_Enquiry_-_On_Change_of_Suitable_for_Account_Management":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":3,"subscriptionRequest/entityname":"leidos_enquiry","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"leidos_suitableforaccountmanagement"},"authentication":"@parameters('$authentication')"}}},"actions":{"Condition":{"actions":{"Update_Enquiry_with_AMR_and_Close":{"runAfter":{"Create_New_AMR_Record":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice","operationId":"PatchItem_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"default.cds","table":"leidos_enquiries","id":"@triggerOutputs()?['body/leidos_enquiryid']","item/statuscode":2,"item/statecode":1,"item/_leidos_amrrecord_value":"@outputs('Create_New_AMR_Record')?['body/leidos_accountmanagementrecordid']","item/_ownerid_type":""},"authentication":"@parameters('$authentication')"}},"Get_Account_Record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice","operationId":"GetItem_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"default.cds","table":"accounts","id":"@triggerOutputs()?['body/_leidos_account_value']"},"authentication":"@parameters('$authentication')"}},"Create_New_AMR_Record":{"runAfter":{"Get_Account_Record":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice","operationId":"PostItem_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"default.cds","table":"leidos_accountmanagementrecords","item/leidos_name":"@{outputs('Get_Account_Record')?['body/name']} - @{formatDateTime(utcNow(), 'dd-MM-yyyy')}","item/_leidos_parentaccount_value":"@triggerOutputs()?['body/_leidos_account_value']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"expression":{"equals":["@triggerOutputs()?['body/leidos_suitableforaccountmanagement']",true]},"type":"If"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}