HIECDS/Workflows/Flow-Enquiry-onCreateEnquiry-F64F33C2-9237-EA11-A813-000D3A0BA110.json
{"properties":{"connectionReferences":{"shared_commondataservice_1":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataservice"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_record_is_created":{"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SubscribeOnNewItems"}},"type":"ApiConnectionWebhook","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice_1']['connectionId']"}},"body":{"NotificationUrl":"@{listCallbackUrl()}"},"path":"/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('leidos_enquiries'))}/onnewitemswebhook","queries":{"scope":"Organization"},"authentication":"@parameters('$authentication')"}}},"actions":{"Set_team_Ownership_Path":{"actions":{"Update_a_record":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PatchItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice_1']['connectionId']"}},"method":"patch","body":{"_ownerid_value":"4077D59C-7938-EA11-A813-000D3A0BA151","_ownerid_type":"teams"},"path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('leidos_enquiries'))}/items/@{encodeURIComponent(encodeURIComponent(triggerBody()?['leidos_enquiryid']))}","authentication":"@parameters('$authentication')"}}},"runAfter":{},"expression":{"equals":["@triggerBody()?['leidos_forwardtoenquiryteam']",true]},"type":"If"},"Send_Email_Path":{"actions":{"Create_Dynamics_Email_Record":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PostItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice_1']['connectionId']"}},"method":"post","body":{"compressed":false,"isemailfollowed":false,"isregularactivity":false,"isemailreminderset":false,"_emailsender_type":"","deliveryreceiptrequested":false,"description":"@{triggerBody()?['leidos_firstname']}\n\nConfrimation that your enquiry has been recieved and will be actioned.  The Reference Number to quote is @{triggerBody()?['leidos_referencenumber']}.\n\nWe will endevour to action this within 5 workling days.","directioncode":true,"followemailuserpreference":false,"isbilled":false,"isworkflowcreated":false,"readreceiptrequested":false,"subject":"Enquiry Reference  @{triggerBody()?['leidos_referencenumber']}has been received","torecipients":"@triggerBody()?['leidos_emailaddress']","_ownerid_type":"","_regardingobjectid_value":"@triggerBody()?['leidos_enquiryid']","_regardingobjectid_type":"leidos_enquiries"},"path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('emails'))}/items","authentication":"@parameters('$authentication')"}}},"runAfter":{},"else":{"actions":{"Create_a_new_record":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PostItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice_1']['connectionId']"}},"method":"post","body":{"subject":"New Enquiry has been Created - @{triggerBody()?['leidos_name']}","description":"A new Enquiry was created on @{formatDateTime(triggerBody()?['createdon'],'dd-MMMM-yyyy')} with no Email, plase initiate contact","scheduledend":"@{if(equals(dayOfWeek(addDays(triggerBody()?['createdon'],2)),6),\r\n\t\taddDays(triggerBody()?['createdon'],3), \r\n\t\tif(equals(dayOfWeek(addDays(triggerBody()?['createdon'],2)),0),\r\n\t\t\taddDays(triggerBody()?['createdon'],4),\r\n\t\t\taddDays(triggerBody()?['createdon'],2)\r\n\t\t)\r\n\t)}","prioritycode":2,"_ownerid_value":"4077D59C-7938-EA11-A813-000D3A0BA151","_ownerid_type":"teams","_regardingobjectid_value":"@triggerBody()?['leidos_enquiryid']","_regardingobjectid_type":"leidos_enquiries","isregularactivity":false,"isbilled":false,"isworkflowcreated":false},"path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('tasks'))}/items","authentication":"@parameters('$authentication')"}}}},"expression":{"not":{"equals":["@triggerBody()?['leidos_emailaddress']","@null"]}},"type":"If"}}}},"schemaVersion":"1.0.0.0"}