HIECDS/Workflows/Flow-Application-AlertowneronCreatedorAssigned-7C70A575-2D3D-EA11-A812-000D3A0BAD17.json
{"properties":{"connectionReferences":{"shared_commondataservice":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataservice"}},"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Application_Created_or_Assigned":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":4,"subscriptionRequest/entityname":"leidos_application","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"ownerid"},"authentication":"@parameters('$authentication')"}}},"actions":{"Condition":{"actions":{"Get_Team":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice","operationId":"GetItem_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"default.cds","table":"teams","id":"@outputs('Get_Account')?['body/_ownerid_value']"},"authentication":"@parameters('$authentication')"}},"Team_has_a_Primary_Contact":{"actions":{"Get_Primary_Contact_User_record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice","operationId":"GetItem_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"default.cds","table":"systemusers","id":"@outputs('Get_Team')?['body/_leidos_teamprimarycontact_value']"},"authentication":"@parameters('$authentication')"}},"Email_Team_Contact":{"runAfter":{"Get_Primary_Contact_User_record":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice","operationId":"PostItem_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"default.cds","table":"emails","item/deliveryreceiptrequested":false,"item/description":"The @{outputs('Get_Team')?['body/name']} team has been assigned a new Applicaiton for @{outputs('Get_Account')?['body/name']}","item/directioncode":true,"item/followemailuserpreference":false,"item/isbilled":false,"item/isworkflowcreated":false,"item/readreceiptrequested":false,"item/subject":"A new application has been assigned to @{outputs('Get_Team')?['body/name']}","item/torecipients":"@outputs('Get_Primary_Contact_User_record')?['body/internalemailaddress']","item/_ownerid_type":"","item/_regardingobjectid_value":"@outputs('Get_Primary_Contact_User_record')?['body/applicationid']","item/_regardingobjectid_type":"leidos_applications"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Get_Team":["Succeeded"]},"else":{"actions":{"Create_a_new_Task_for_the_team":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice","operationId":"PostItem_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"default.cds","table":"tasks","item/subject":"A new Application (@{outputs('Get_Application')?['body/leidos_applicationreference']})has been created for @{outputs('Get_Account')?['body/name']}","item/description":"The @{outputs('Get_Team')?['body/name']} team has been assigned a new Application for @{outputs('Get_Account')?['body/name']}.\n\nPlease check and assign to the most appropriate person","item/scheduledend":"@addDays(triggerOutputs()?['body/createdon'], 7)","item/prioritycode":2,"item/_ownerid_value":"@outputs('Get_Team')?['body/teamid']","item/_ownerid_type":"teams","item/_regardingobjectid_value":"@outputs('Get_Application')?['body/leidos_applicationid']","item/_regardingobjectid_type":"leidos_applications","item/isbilled":false,"item/isworkflowcreated":false},"authentication":"@parameters('$authentication')"}}}},"expression":{"not":{"equals":["@outputs('Get_Team')?['body/_leidos_teamprimarycontact_value']","@null"]}},"type":"If"}},"runAfter":{"Owner_Type":["Succeeded"]},"else":{"actions":{"User":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice","operationId":"GetItem_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"default.cds","table":"systemusers","id":"@triggerOutputs()?['body/_ownerid_value']"},"authentication":"@parameters('$authentication')"}},"Email_Owner":{"runAfter":{"User":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice","operationId":"PostItem_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"default.cds","table":"emails","item/deliveryreceiptrequested":false,"item/description":"You have been Assigned a new Application  for @{outputs('Get_Account')?['body/name']}","item/directioncode":true,"item/followemailuserpreference":false,"item/isbilled":false,"item/isworkflowcreated":false,"item/readreceiptrequested":false,"item/subject":"You have been Assigned a new Application ","item/torecipients":"@outputs('User')?['body/internalemailaddress']","item/_ownerid_type":"","item/_regardingobjectid_value":"@triggerOutputs()?['body/leidos_applicationid']","item/_regardingobjectid_type":"leidos_applications"},"authentication":"@parameters('$authentication')"}}}},"expression":{"equals":["@outputs('Owner_Type')","teams"]},"type":"If"},"Owner_Type":{"runAfter":{"Get_Account":["Succeeded"]},"type":"Compose","inputs":"@outputs('Get_Application')?['body/_ownerid_type']"},"Get_Account":{"runAfter":{"Get_Application":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice","operationId":"GetItem_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"default.cds","table":"accounts","id":"@triggerOutputs()?['body/_leidos_parentaccount_value']"},"authentication":"@parameters('$authentication')"}},"Get_Application":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice","operationId":"GetItem_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"default.cds","table":"leidos_applications","id":"@triggerOutputs()?['body/leidos_applicationid']"},"authentication":"@parameters('$authentication')"}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}