HIECDS/Workflows/Flow-Enquiry-CreateorPopulateContactbasedonEmail-2D70F9B6-2B3C-EA11-A812-000D3A0BAD17.json
{"properties":{"connectionReferences":{"shared_commondataservice":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataservice"}},"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_record_is_created,_updated_or_deleted":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":4,"subscriptionRequest/entityname":"leidos_enquiry","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"leidos_emailaddress"},"authentication":"@parameters('$authentication')"}}},"actions":{"Is_Email_Populated_and_Contact_not_populated":{"actions":{"List_Contacts":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice","operationId":"GetItems_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"default.cds","table":"contacts","$filter":"emailaddress1 eq '@{triggerOutputs()?['body/leidos_emailaddress']}'"},"authentication":"@parameters('$authentication')"}},"CountofRows":{"runAfter":{"List_Contacts":["Succeeded"]},"type":"Compose","inputs":"@length(outputs('List_Contacts')?['body/value'])"},"Branch_based_on_Number_of_records":{"runAfter":{"CountofRows":["Succeeded"]},"cases":{"No_Records,_create_Contact_and_Allocate":{"case":0,"actions":{"Create_New_Contact":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice","operationId":"PostItem_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"default.cds","table":"contacts","item/lastname":"@triggerOutputs()?['body/leidos_lastname']","item/telephone1":"@triggerOutputs()?['body/leidos_telephonenumber']","item/emailaddress1":"@triggerOutputs()?['body/leidos_emailaddress']","item/firstname":"@triggerOutputs()?['body/leidos_firstname']","item/_parentcustomerid_type":"","item/isbackofficecustomer":false,"item/adx_confirmremovepassword":false,"item/creditonhold":false,"item/msdyn_disablewebtracking":false,"item/donotbulkemail":false,"item/donotbulkpostalmail":false,"item/donotemail":false,"item/donotfax":false,"item/donotpostalmail":false,"item/donotphone":false,"item/adx_identity_emailaddress1confirmed":false,"item/followemail":true,"item/msdyn_isminor":false,"item/msdyn_isminorwithparentalconsent":false,"item/adx_identity_locallogindisabled":false,"item/adx_identity_lockoutenabled":false,"item/adx_identity_logonenabled":false,"item/marketingonly":false,"item/adx_identity_mobilephoneconfirmed":false,"item/participatesinworkflow":false,"item/adx_profilealert":false,"item/adx_profileisanonymous":false,"item/donotsendmm":false,"item/adx_identity_twofactorenabled":false,"item/_ownerid_type":""},"authentication":"@parameters('$authentication')"}},"Update_Enquiry":{"runAfter":{"Create_New_Contact":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice","operationId":"PatchItem_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"default.cds","table":"leidos_enquiries","id":"@triggerOutputs()?['body/leidos_enquiryid']","item/_leidos_contact_value":"@outputs('Create_New_Contact')?['body/contactid']","item/_ownerid_type":""},"authentication":"@parameters('$authentication')"}}}},"One_Record_Associate_Contact":{"case":1,"actions":{"Apply_to_each":{"foreach":"@outputs('List_Contacts')?['body/value']","actions":{"Update_a_record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice","operationId":"PatchItem_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"default.cds","table":"leidos_enquiries","id":"@triggerOutputs()?['body/leidos_enquiryid']","item/_leidos_contact_value":"@items('Apply_to_each')?['contactid']","item/_ownerid_type":""},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"type":"Foreach"}}}},"default":{"actions":{}},"expression":"@outputs('CountofRows')","type":"Switch"}},"runAfter":{},"expression":{"and":[{"not":{"equals":["@triggerOutputs()?['body/leidos_emailaddress']","@null"]}},{"equals":["@triggerOutputs()?['body/_leidos_contact_value']","@null"]}]},"type":"If"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}