HIECDS/Workflows/Flow-Application-CreateApplicationWhenEnquiyisClos-53AB298D-1A3D-EA11-A812-000D3A0BAD17.json
{"properties":{"connectionReferences":{"shared_commondataservice":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataservice"}},"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Enquiry_-_On_Change_of_State":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":3,"subscriptionRequest/entityname":"leidos_enquiry","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"statecode"},"authentication":"@parameters('$authentication')"}}},"actions":{"State_is_Inactive_and_Progressed":{"actions":{"Owner_Type":{"runAfter":{},"type":"Compose","inputs":"@triggerOutputs()?['body/_ownerid_value@Microsoft.Dynamics.CRM.lookuplogicalname']"},"Create_the_Application_Record":{"runAfter":{"Get_Account":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice","operationId":"PostItem_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"default.cds","table":"leidos_applications","item/leidos_name":"@concat(outputs('Get_Account')?['body/name'],' - ', formatDateTime(utcNow(), 'dd-MMM-yyyy'))","item/_ownerid_value":"@outputs('Get_Account')?['body/_ownerid_value']","item/_ownerid_type":"@outputs('Get_Account')?['body/_ownerid_type']","item/_leidos_parentaccount_value":"@outputs('Get_Account')?['body/accountid']","item/_leidos_sourceenquiry_value":"@triggerOutputs()?['body/leidos_enquiryid']"},"authentication":"@parameters('$authentication')"}},"Get_Account":{"runAfter":{"Owner_Type":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice","operationId":"GetItem_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"default.cds","table":"accounts","id":"@triggerOutputs()?['body/_leidos_account_value']"},"authentication":"@parameters('$authentication')"}},"Update_a_record":{"runAfter":{"Create_the_Application_Record":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_enquiries","recordId":"@triggerOutputs()?['body/leidos_enquiryid']","item/leidos_GeneratedApplication@odata.bind":"@outputs('Create_the_Application_Record')?['body/leidos_applicationid']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"expression":{"and":[{"equals":["@triggerOutputs()?['body/statecode']",1]},{"equals":["@triggerOutputs()?['body/statuscode']",2]}]},"type":"If"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}