HIECDS/Workflows/GetEntityUrl-B0DB1A8A-C449-EA11-A812-000D3A0BA151.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"PowerApp","inputs":{"schema":{"type":"object","properties":{"EntityId_Inputs":{"type":"any","description":"Inputs","x-ms-powerflows-param-ispartial":false},"EntityType_Value":{"type":"string","description":"Enter initial value","x-ms-powerflows-param-ispartial":false}},"required":["EntityId_Inputs","EntityType_Value"]}}}},"actions":{"EntityId":{"runAfter":{},"type":"Compose","inputs":"@triggerBody()['EntityId_Inputs']"},"List_records":{"runAfter":{"EntityType":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","$top":1},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Generate_Full_Url":{"runAfter":{"Get_Base_Url":["Succeeded"]},"type":"Compose","inputs":"@concat(outputs('Get_Base_Url'),'/','main.aspx?pagetype=entityrecord&etn=',outputs('EntityType'),'&id=',outputs('EntityId'))"},"Respond_to_a_PowerApp_or_flow":{"runAfter":{"Generate_Full_Url":["Succeeded"]},"type":"Response","kind":"PowerApp","inputs":{"statusCode":200,"body":{"entityurl":"@{outputs('Generate_Full_Url')}"},"schema":{"type":"object","properties":{"entityurl":{"title":"EntityUrl","x-ms-dynamically-added":true,"type":"string"}}}}},"Get_First_Record":{"runAfter":{"List_records":["Succeeded"]},"type":"Compose","inputs":"@first(outputs('List_records')?['body/value'])"},"Get_Base_Url":{"runAfter":{"Get_First_Record":["Succeeded"]},"type":"Compose","inputs":"@first(split(outputs('Get_First_Record')?['@odata.id'],'/api/'))"},"EntityType":{"runAfter":{"EntityId":["Succeeded"]},"type":"Compose","inputs":"@triggerBody()['EntityType_Value']"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}