HIECDS/Workflows/GetEnvironmentVariable-30095A04-574E-EA11-A812-000D3A7F1BBB.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"PowerApp","inputs":{"schema":{"type":"object","properties":{"EnvironmentVariable_Inputs":{"type":"any","description":"Inputs","x-ms-powerflows-param-ispartial":false}},"required":["EnvironmentVariable_Inputs"]}}}},"actions":{"List_records":{"runAfter":{"FetchXml":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"environmentvariablevalues","fetchXml":"@outputs('FetchXml')","$top":1},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"EnvironmentVariable":{"runAfter":{},"type":"Compose","inputs":"@triggerBody()['EnvironmentVariable_Inputs']"},"FetchXml":{"runAfter":{"EnvironmentVariable":["Succeeded"]},"type":"Compose","inputs":"@concat('<fetch><entity name=\"environmentvariablevalue\" ><attribute name=\"value\" /><link-entity name=\"environmentvariabledefinition\" from=\"environmentvariabledefinitionid\" to=\"environmentvariabledefinitionid\" ><filter type=\"and\" ><condition attribute=\"displayname\" operator=\"eq\" value=\"', triggerBody()['EnvironmentVariable_Inputs'] ,'\" /></filter></link-entity></entity></fetch>')"},"GetEnvironmentVariableValue":{"runAfter":{"List_records":["Succeeded"]},"type":"Compose","inputs":"@first(outputs('List_records')?['body/value'])"},"Respond_to_a_PowerApp_or_flow":{"runAfter":{"Compose":["Succeeded"]},"type":"Response","kind":"PowerApp","inputs":{"statusCode":200,"body":{"value":"@{outputs('GetEnvironmentVariableValue')}"},"schema":{"type":"object","properties":{"value":{"title":"Value","x-ms-dynamically-added":true,"type":"string"}}}}},"Compose":{"runAfter":{"GetEnvironmentVariableValue":["Succeeded"]},"type":"Compose","inputs":"@outputs('GetEnvironmentVariableValue')?['value']"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}