HIECDS/Workflows/Invitation-Flow-Oncreate-0CE291D7-7B51-EA11-A813-000D3A7F1BBB.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_an_Invitation_is_created":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":1,"subscriptionRequest/entityname":"adx_invitation","subscriptionRequest/scope":4},"authentication":"@parameters('$authentication')"}}},"actions":{"Get_Base_URL":{"runAfter":{},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"30095a04-574e-ea11-a812-000d3a7f1bbb"},"body":{"EnvironmentVariable_Inputs":"ClientPortalURL"}}},"Build_Invitation_URL":{"runAfter":{"Parse_Base_URL_Json":["Succeeded"]},"type":"Compose","inputs":"@concat(body('Parse_Base_URL_Json')?['value'], '/register/?returnurl=/&invitation=', triggerOutputs()?['body/adx_invitationcode'])"},"Create_Invitation_Email":{"runAfter":{"Parse_SendAsAdminAccount_Json":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"emails","item/activitypointer_activity_parties":[{"participationtypemask":2,"partyid@odata.bind":"/contacts(@{triggerOutputs()?['body/_adx_invitecontact_value']})"}],"item/description":"<p>You have been invited to use the My HIE Portal. To redeem your invitation, please click the link below.</p>\n\n<p><a href=\"@{outputs('Build_Invitation_URL')}\">Click here to register</a>, or copy and paste the following link into your browser address bar:</p>\n<p>@{outputs('Build_Invitation_URL')}</p>\n\n<p>If you can't click the link above, copy and paste it into your browsers address window to redeem your invitation.</p>\n\n<p>Regards,<br />\n\nMy HIE Portal Team</p>","item/sender":"/systemusers(@{body('Parse_SendAsAdminAccount_Json')?['value']})","item/regardingobjectid_adx_invitation_email@odata.bind":"/adx_invitations(@{triggerOutputs()?['body/adx_invitationid']})","item/subject":"You have been invited to register on MyHIE Client Portal"},"authentication":"@parameters('$authentication')"}},"Send_Invitation_Email":{"runAfter":{"Create_Invitation_Email":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"PerformBoundAction","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"emails","actionName":"Microsoft.Dynamics.CRM.SendEmail","recordId":"@outputs('Create_Invitation_Email')?['body/activityid']","item/IssueSend":true},"authentication":"@parameters('$authentication')"}},"Parse_Base_URL_Json":{"runAfter":{"Get_Base_URL":["Succeeded"]},"type":"ParseJson","inputs":{"content":"@outputs('Get_Base_URL')?['Body']?['value']","schema":{"type":"object","properties":{"@@odata.type":{"type":"string"},"@@odata.id":{"type":"string"},"@@odata.etag":{"type":"string"},"@@odata.editLink":{"type":"string"},"value":{"type":"string"},"environmentvariablevalueid@odata.type":{"type":"string"},"environmentvariablevalueid":{"type":"string"}}}}},"Get_SendAs_AdminAccount":{"runAfter":{"Build_Invitation_URL":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"30095a04-574e-ea11-a812-000d3a7f1bbb"},"body":{"EnvironmentVariable_Inputs":"SendAs_AdminAccount"}}},"Parse_SendAsAdminAccount_Json":{"runAfter":{"Get_SendAs_AdminAccount":["Succeeded"]},"type":"ParseJson","inputs":{"content":"@outputs('Get_SendAs_AdminAccount')?['Body']?['value']","schema":{"type":"object","properties":{"@@odata.type":{"type":"string"},"@@odata.id":{"type":"string"},"@@odata.etag":{"type":"string"},"@@odata.editLink":{"type":"string"},"value":{"type":"string"},"environmentvariablevalueid@odata.type":{"type":"string"},"environmentvariablevalueid":{"type":"string"}}}}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}