HIECDS/Workflows/MonthlySchedule-CancelActiveClientPlansolderthan12-FC35CF60-8F5C-EA11-A811-000D3A7F1BBB.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Monthly_Shedule":{"recurrence":{"frequency":"Month","interval":1},"type":"Recurrence"}},"actions":{"List_Business_Reviews_over_12_months_since_Completed":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_accountmanagementclientplans","fetchXml":"<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n  <entity name=\"leidos_accountmanagementclientplan\">\n    <attribute name=\"leidos_accountmanagementclientplanid\" />\n    <attribute name=\"leidos_name\" />\n    <attribute name=\"createdon\" />\n    <order attribute=\"leidos_name\" descending=\"false\" />\n    <filter type=\"and\">\n      <condition attribute=\"statecode\" operator=\"eq\" value=\"0\" />\n      <condition attribute=\"createdon\" operator=\"olderthan-x-years\" value=\"1\" />\n    </filter>\n  </entity>\n</fetch>"},"authentication":"@parameters('$authentication')"}},"Apply_to_each":{"foreach":"@outputs('List_Business_Reviews_over_12_months_since_Completed')?['body/value']","actions":{"Cancel_Still_Open_Business_Reviews":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_accountmanagementclientplans","recordId":"@items('Apply_to_each')?['leidos_accountmanagementclientplanid']","item/statecode":1,"item/statuscode":445260004},"authentication":"@parameters('$authentication')"}}},"runAfter":{"List_Business_Reviews_over_12_months_since_Completed":["Succeeded"]},"type":"Foreach"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}