HIECDS/Workflows/ProjectFunding-Flow-onCreateSetName-25603A44-AC83-EA11-A811-000D3A7F1BBB.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Project_Funding_on_Create":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":4,"subscriptionRequest/entityname":"leidos_projectfunding","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"leidos_fundingsource"},"authentication":"@parameters('$authentication')"}}},"actions":{"Project_Cost":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projectcosts","recordId":"@triggerOutputs()?['body/_leidos_parentprojectcost_value']"},"authentication":"@parameters('$authentication')"}},"Generate_Record_Name":{"runAfter":{"Funding_Source":["Succeeded"]},"type":"Compose","inputs":"@concat(outputs('Project_Cost')?['body/leidos_costitem'],'-',outputs('Funding_Source')?['body/leidos_source'])"},"Funding_Source":{"runAfter":{"Project_Cost":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_fundingsources","recordId":"@triggerOutputs()?['body/_leidos_fundingsource_value']"},"authentication":"@parameters('$authentication')"}},"Update_a_record":{"runAfter":{"Generate_Record_Name":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projectfundings","recordId":"@triggerOutputs()?['body/leidos_projectfundingid']","item/leidos_name":"@outputs('Generate_Record_Name')"},"authentication":"@parameters('$authentication')"}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}