HIECDS/Workflows/Project-Flow-OnCreate-CreateMeasure-CC3CF458-AE84-EA11-A811-000D3A7FEDBE.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Project_On_Create":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":1,"subscriptionRequest/entityname":"leidos_project","subscriptionRequest/scope":4},"authentication":"@parameters('$authentication')"}}},"actions":{"Create_Measure_-_Output":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projectmeasures","item/leidos_name":"@concat(triggerOutputs()?['body/leidos_name'],' - Output')","item/leidos_ParentProject@odata.bind":"/leidos_projects(@{triggerOutputs()?['body/leidos_projectid']})","item/leidos_measuretype":445260002},"authentication":"@parameters('$authentication')"}},"Create_Measure_-_Activity":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projectmeasures","item/leidos_name":"@concat(triggerOutputs()?['body/leidos_name'], ' - Activity')","item/leidos_ParentProject@odata.bind":"/leidos_projects(@{triggerOutputs()?['body/leidos_projectid']})","item/leidos_measuretype":445260001},"authentication":"@parameters('$authentication')"}},"Create_Measure_-_Priority":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_projectmeasures","item/leidos_name":"@concat(triggerOutputs()?['body/leidos_name'], ' - Priority')","item/leidos_ParentProject@odata.bind":"/leidos_projects(@{triggerOutputs()?['body/leidos_projectid']})","item/leidos_measuretype":445260000},"authentication":"@parameters('$authentication')"}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}