HIECDS/Workflows/Recurrence-AMR-Generateremindertasks-437B0B63-415D-EA11-A811-000D3A0BAD17.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Recurrence":{"recurrence":{"frequency":"Week","interval":1,"timeZone":"GMT Standard Time","schedule":{"weekDays":["Sunday"],"hours":["3"]}},"type":"Recurrence"}},"actions":{"List_of_AMR_Record_Due_for_Updates":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_accountmanagementrecords","fetchXml":"<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n  <entity name=\"leidos_accountmanagementrecord\">\n    <attribute name=\"leidos_accountmanagementrecordid\" />\n    <attribute name=\"leidos_name\" />\n    <attribute name=\"createdon\" />\n    <attribute name=\"leidos_businessreviewreminderdate\" />\n    <order attribute=\"leidos_name\" descending=\"false\" />\n    <filter type=\"and\">\n      <condition attribute=\"statuscode\" operator=\"eq\" value=\"445260000\" />\n      <condition attribute=\"leidos_businessreviewreminderdate\" operator=\"on-or-before\" value=\"@{utcNow()}\" />\n    </filter>\n  </entity>\n</fetch>"},"authentication":"@parameters('$authentication')"}},"Count_of_AMR_Records_in_Run":{"runAfter":{"List_of_AMR_Record_Due_for_Updates":["Succeeded"]},"type":"Compose","inputs":"@length(outputs('List_of_AMR_Record_Due_for_Updates')?['body/value'])"},"Apply_to_each":{"foreach":"@outputs('List_of_AMR_Record_Due_for_Updates')?['body/value']","actions":{"Business_Review":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_businessreviews","fetchXml":"<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n  <entity name=\"leidos_businessreview\">\n    <attribute name=\"leidos_businessreviewid\" />\n    <attribute name=\"leidos_name\" />\n    <attribute name=\"createdon\" />\n    <order attribute=\"createdon\" descending=\"true\" />\n    <filter type=\"and\">\n      <condition attribute=\"createdon\" operator=\"last-x-months\" value=\"11\" />\n      <condition attribute=\"statuscode\" operator=\"not-in\">\n        <value>445260005</value>\n        <value>445260004</value>\n      </condition>\n    </filter>\n    <link-entity name=\"leidos_accountmanagementrecord\" from=\"leidos_accountmanagementrecordid\" to=\"leidos_accountmanagementrecord\" link-type=\"inner\" alias=\"af\">\n      <filter type=\"and\">\n        <condition attribute=\"leidos_accountmanagementrecordid\" operator=\"eq\"  value=\"@{items('Apply_to_each')?['leidos_accountmanagementrecordid']}\" />\n      </filter>\n    </link-entity>\n  </entity>\n</fetch>"},"authentication":"@parameters('$authentication')"}},"Count_of_Business_Reviews_Created_in_last_11_months":{"runAfter":{"Business_Review":["Succeeded"]},"type":"Compose","inputs":"@length(outputs('Business_Review')?['body/value'])"},"Condition":{"actions":{"Perform_a_bound_action":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"PerformBoundAction","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_accountmanagementrecords","actionName":"Microsoft.Dynamics.CRM.leidos_AMRActionCreateTasktoremindAMtocreateBusinessReview","recordId":"@items('Apply_to_each')?['leidos_accountmanagementrecordid']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Count_of_Business_Reviews_Created_in_last_11_months":["Succeeded"]},"expression":{"equals":["@outputs('Count_of_Business_Reviews_Created_in_last_11_months')",0]},"type":"If"}},"runAfter":{"Count_of_AMR_Records_in_Run":["Succeeded"]},"type":"Foreach"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}