HIECDS/Workflows/Whenarecordiscreatedupdatedordeleted-Createanappro-53F02CCD-B749-EA11-A812-000D3A0BAD17.json
{"properties":{"connectionReferences":{"shared_approvals":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_approvals"}},"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_record_is_created,_updated_or_deleted":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":3,"subscriptionRequest/entityname":"contact","subscriptionRequest/scope":4},"authentication":"@parameters('$authentication')"}}},"actions":{"Create_an_approval":{"runAfter":{"Compose":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_approvals","operationId":"CreateAnApproval","apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals"},"parameters":{"approvalType":"CustomResponse","ApprovalCreationInput/responseOptions":["Approved","Rejected"],"ApprovalCreationInput/title":"Approval","ApprovalCreationInput/assignedTo":"mauro.masucci@hiedigitalnonprod.onmicrosoft.com","ApprovalCreationInput/itemLink":"@outputs('Get_Entity_Url')?['Body']?['entityurl']","ApprovalCreationInput/enableNotifications":true,"ApprovalCreationInput/enableReassignment":true},"authentication":"@parameters('$authentication')"}},"Get_Entity_Url":{"runAfter":{},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"b0db1a8a-c449-ea11-a812-000d3a0ba151"},"body":{"EntityId_Inputs":"@triggerOutputs()?['body/contactid']","EntityType_Value":"contact"}}},"Get_Environment_Variable:_BaseUrl":{"runAfter":{"Get_Entity_Url":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"30095a04-574e-ea11-a812-000d3a7f1bbb"},"body":{"EnvironmentVariable_Inputs":"BaseURL"}}},"Compose":{"runAfter":{"Get_Environment_Variable:_BaseUrl":["Succeeded"]},"type":"Compose","inputs":"@outputs('Get_Environment_Variable:_BaseUrl')?['Body']?['value']"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}