HIECDS/Workflows/Whenarecordiscreatedupdatedordeleted-SumofCategoty-03EC9020-A75F-EA11-A811-000D3A0BAD17.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Client_Plan_Response_on_Update_of_Rating":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":3,"subscriptionRequest/entityname":"leidos_clientplanreviewresponse","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"leidos_ratingvalue,leidos_notapplicable"},"authentication":"@parameters('$authentication')"}}},"actions":{"Get_NULL_for_Category":{"runAfter":{"Category":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_clientplanreviewresponses","fetchXml":"<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n  <entity name=\"leidos_clientplanreviewresponse\">\n    <attribute name=\"leidos_clientplanreviewresponseid\" />\n    <filter type=\"and\">\n      <condition attribute=\"leidos_ratingvalue\" operator=\"null\" />\n      <condition attribute=\"leidos_notapplicable\" operator=\"ne\" value=\"1\" />\n    </filter>\n    <link-entity name=\"leidos_accountmanagementclientplan\" from=\"leidos_accountmanagementclientplanid\" to=\"leidos_parentclientplan\" link-type=\"inner\" alias=\"ae\">\n      <filter type=\"and\">\n        <condition attribute=\"leidos_accountmanagementclientplanid\" operator=\"eq\"  value=\"@{outputs('Get_AM_Client_Plan')?['body/leidos_accountmanagementclientplanid']}\" />\n      </filter>\n    </link-entity>\n    <link-entity name=\"leidos_clientplanquestion\" from=\"leidos_clientplanquestionid\" to=\"leidos_question\" link-type=\"inner\" alias=\"af\">\n      <link-entity name=\"leidos_clientplanquestioncategory\" from=\"leidos_clientplanquestioncategoryid\" to=\"leidos_category\" link-type=\"inner\" alias=\"ag\">\n        <filter type=\"and\">\n          <condition attribute=\"leidos_clientplanquestioncategoryid\" operator=\"eq\"  value=\"@{outputs('Category')?['body/leidos_clientplanquestioncategoryid']}\" />\n        </filter>\n      </link-entity>\n    </link-entity>\n  </entity>\n</fetch>"},"authentication":"@parameters('$authentication')"}},"Count_of_Missing_Values":{"runAfter":{"Get_NULL_for_Category":["Succeeded"]},"type":"Compose","inputs":"@length(outputs('Get_NULL_for_Category')?['body/value'])"},"Get_AM_Client_Plan":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_accountmanagementclientplans","recordId":"@triggerOutputs()?['body/_leidos_parentclientplan_value']"},"authentication":"@parameters('$authentication')"}},"Category":{"runAfter":{"Get_AM_Client_Plan":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_clientplanquestioncategories","recordId":"@triggerOutputs()?['body/_leidos_category_value']"},"authentication":"@parameters('$authentication')"}},"List_Client_Plan_Summaries":{"runAfter":{"Count_of_Missing_Values":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_clientplansummaries","fetchXml":"<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n  <entity name=\"leidos_clientplansummary\">\n    <attribute name=\"leidos_clientplansummaryid\" />\n    <filter type=\"and\">\n      <condition attribute=\"leidos_parentclientplan\" operator=\"eq\"  value=\"@{outputs('Get_AM_Client_Plan')?['body/leidos_accountmanagementclientplanid']}\" />\n      <condition attribute=\"leidos_category\" operator=\"eq\"  value=\"@{outputs('Category')?['body/leidos_clientplanquestioncategoryid']}\" />\n    </filter>\n  </entity>\n</fetch>"},"authentication":"@parameters('$authentication')"}},"Get_First_(only)_Record":{"runAfter":{"List_Client_Plan_Summaries":["Succeeded"]},"type":"Compose","inputs":"@first(outputs('List_Client_Plan_Summaries')?['body/value'])"},"Parse_JSON":{"runAfter":{"Get_First_(only)_Record":["Succeeded"]},"type":"ParseJson","inputs":{"content":"@outputs('Get_First_(only)_Record')","schema":{"type":"object","properties":{"@@odata.type":{"type":"string"},"@@odata.id":{"type":"string"},"@@odata.etag":{"type":"string"},"@@odata.editLink":{"type":"string"},"leidos_clientplansummaryid@odata.type":{"type":"string"},"leidos_clientplansummaryid":{"type":"string"}}}}},"Client_Plan_Summary_ID":{"runAfter":{"Parse_JSON":["Succeeded"]},"type":"Compose","inputs":"@body('Parse_JSON')?['leidos_clientplansummaryid']"},"Running_Total":{"runAfter":{"Category":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Running Total","type":"integer","value":0}]}},"Get_All_Value_record_in_Category":{"runAfter":{"Running_Total":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_clientplanreviewresponses","fetchXml":"<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n  <entity name=\"leidos_clientplanreviewresponse\">\n    <attribute name=\"leidos_clientplanreviewresponseid\" />  \n<attribute name=\"leidos_ratingvalue\" />\n\n    <filter type=\"and\">\n<condition attribute=\"leidos_ratingvalue\" operator=\"not-null\" />\n      <condition attribute=\"leidos_notapplicable\" operator=\"ne\" value=\"1\" />\n    </filter>\n    <link-entity name=\"leidos_accountmanagementclientplan\" from=\"leidos_accountmanagementclientplanid\" to=\"leidos_parentclientplan\" link-type=\"inner\" alias=\"ae\">\n      <filter type=\"and\">\n        <condition attribute=\"leidos_accountmanagementclientplanid\" operator=\"eq\"  value=\"@{outputs('Get_AM_Client_Plan')?['body/leidos_accountmanagementclientplanid']}\" />\n      </filter>\n    </link-entity>\n    <link-entity name=\"leidos_clientplanquestion\" from=\"leidos_clientplanquestionid\" to=\"leidos_question\" link-type=\"inner\" alias=\"af\">\n      <link-entity name=\"leidos_clientplanquestioncategory\" from=\"leidos_clientplanquestioncategoryid\" to=\"leidos_category\" link-type=\"inner\" alias=\"ag\">\n        <filter type=\"and\">\n          <condition attribute=\"leidos_clientplanquestioncategoryid\" operator=\"eq\"  value=\"@{outputs('Category')?['body/leidos_clientplanquestioncategoryid']}\" />\n        </filter>\n      </link-entity>\n    </link-entity>\n  </entity>\n</fetch>"},"authentication":"@parameters('$authentication')"}},"Count_of_Records":{"runAfter":{"Get_All_Value_record_in_Category":["Succeeded"]},"type":"Compose","inputs":"@length(outputs('Get_All_Value_record_in_Category')?['body/value'])"},"Apply_to_each":{"foreach":"@outputs('Get_All_Value_record_in_Category')?['body/value']","actions":{"Rating_Value":{"runAfter":{},"type":"Compose","inputs":"@items('Apply_to_each')?['leidos_ratingvalue']"},"Increment_variable":{"runAfter":{"Rating_Value":["Succeeded"]},"type":"IncrementVariable","inputs":{"name":"Running Total","value":"@outputs('Rating_Value')"}}},"runAfter":{"Count_of_Records":["Succeeded"]},"type":"Foreach"},"Average":{"runAfter":{"Apply_to_each":["Succeeded"]},"type":"Compose","inputs":"@Div(Float(variables('Running Total')),Float(outputs('Count_of_Records')))"},"Update_Client_Summary_Missing_Scores_and_Average":{"runAfter":{"Average":["Succeeded"],"Client_Plan_Summary_ID":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leidos_clientplansummaries","recordId":"@body('Parse_JSON')?['leidos_clientplansummaryid']","item/leidos_categoryaverage":"@outputs('Average')","item/leidos_missingscores":"@outputs('Count_of_Missing_Values')"},"authentication":"@parameters('$authentication')"}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}